{% extends 'Home/base.html.twig' %}

{% block javascript %}
    <script src="{{ asset('javascript/User/edit.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/User/edit.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('profile_show', { 'id': user.id }) }}">
            Mon profil
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Éditer mon profil
    </li>
{% endblock %}

{% block body %}
<br>
<div class="container">
    <div class="row">

    <div class="col-8 col-md-2">
        <ul class="list-group">
          <a href="{{ path('profile_show', { 'id': user.id }) }}" class="list-group-item list-group-item-action">Profil</a>
        </ul>

        <br>
        <h4>Édition</h4>

        <ul class="list-group">
          {% if member.firstname is not empty %}
          <a href="{{ path('profile_editpersonal', { 'id': user.id }) }}" class="list-group-item list-group-item-action">Informations personnelles</a>
          <a href="{{ path('profile_editcontact', { 'id': user.id }) }}" class="list-group-item list-group-item-action">Informations de contact</a>
          {% endif %}
          <a href="{{ path('profile_editsensible', { 'id': user.id }) }}" class="list-group-item list-group-item-action">Informations sensibles</a>
          <a href="{{ path('profile_editroles', { 'id': user.id }) }}" class="list-group-item list-group-item-action active">Rôles</a>
        </ul>
    </div>



        <div class="col-12 col-md-10">

        <div class="col">
            <h1>
            Édition des informations sensibles
            </h1>
        </div>

        <div style="margin-top:24px;">
        {{ form_start(editroles_form, {'attr': {'id': 'form-edit-user'}}) }}
        <div class="form-group">
            {{ form_label(editroles_form.responsibilities) }}
            {% for responsibility in editroles_form.responsibilities %}
                <div class="form-group">
                    {{ form_widget(responsibility) }}
                    {{ form_label(responsibility) }}
                    <span class="text-muted responsibility-description">
                        {{ responsibility.vars.attr['data-responsibility-description'] }}
                    </span>
                </div>
            {% endfor %}
        </div>
        <div class="form-group">
        {{ form_widget(editroles_form.submit) }}
        </div>
        {{ form_end(editroles_form) }}
        </div>

        </div>
    </div>
</div>

{% endblock %}
