{% extends 'Home/base.html.twig' %}

{% block title %}{% trans %}Modifier mon mot de passe{% endtrans %}{% endblock %}

{% block javascript %}
    <script src="{{ asset('javascript/User/edit.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/User/edit.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">{% trans %}Accueil{% endtrans %}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('profile_show', { 'id': user.id }) }}">
            {% trans %}Mon profil{% endtrans %}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% trans %}Modifier mon mot de passe{% endtrans %}
    </li>
{% endblock %}

{% block body %}
<br>
<div class="container">
    <div class="row">

    <div class="col-8 col-md-2">
        {{ include('Profile/_menu-edit-profile.html.twig', { password: 'active' }) }}
    </div>
        <div class="col-12 col-md-10">
            <div class="row mt-4">
                <div class="col">
                    <h2>
                        {% trans %}Modifier mon mot de passe{% endtrans %}
                    </h2>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col">
                    {{ form_start(password_form, {'attr': {'id': 'form-edit-password'}}) }}
                        {{ form_errors(password_form) }}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-3">
                                    {% trans %}Ancien mot de passe{% endtrans %}
                                </div>
                                <div class="col-9">
                                    {{ form_widget(password_form.oldPassword) }}
                                    <div class="field-error-spot">
                                        {{ form_errors(password_form.oldPassword) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for key, passwordField in password_form.plainPassword %}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3">
                                        {% if loop.first %}
                                            {% trans %}Nouveau mot de passe{% endtrans %}
                                        {% else %}
                                            {% trans %}Confirmer mon mot de passe{% endtrans %}
                                        {% endif %}
                                    </div>
                                    <div class="col-9">
                                        {{ form_widget(passwordField) }}
                                        <div class="field-error-spot">
                                            {{ form_errors(passwordField) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {{ form_end(password_form) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{{ path('people_show', { 'id': people.id }) }}" class="btn btn-secondary">
                        <i class="icon ion-md-arrow-back"></i>&nbsp;{% trans %}Retourner au profil{% endtrans %}
                    </a>
                </div>
                <div class="col text-right">
                    <button
                        id="edit-password-submit-button"
                        type="submit"
                        form="form-edit-password"
                        class="btn btn-primary"
                        >
                        <i class="icon ion-md-save"></i>&nbsp;{% trans %}Enregistrer les modifications{% endtrans %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
