{% extends 'Home/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/User/show.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    <li class="breadcrumb-item active">
        Mon profil
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">

        <div class="col-8 col-md-2">
            <ul class="list-group">
              <a href="{{ path('profile_show', { 'id': user.id }) }}" class="list-group-item list-group-item-action active">Profil</a>
            </ul>

            <br>
            <h4>Édition</h4>

            <ul class="list-group">
              <a href="{{ path('profile_edit_profile', { 'id': user.id }) }}" class="list-group-item list-group-item-action">Informations du profil</a>
              {% if people.firstname is not empty %}
              <a href="{{ path('profile_edit_personal_data', { 'id': user.id }) }}" class="list-group-item list-group-item-action">Informations personnelles</a>
              <a href="{{ path('profile_editcontact', { 'id': user.id }) }}" class="list-group-item list-group-item-action">Informations de contact</a>
              {% endif %}
              <a href="{{ path('profile_editroles', { 'id': user.id }) }}" class="list-group-item list-group-item-action">Rôles</a>
            </ul>
        </div>



        <div class="col-12 col-md-10">
            <div class="col">
                <h1>
                {% if people.denomination or people.firstname or people.lastname %}
                {{ people.denomination ? people.denomination.label : "" }} {{ people.firstname }} {{ people.lastname }}
                {% else %}
                Ce.tte personne n'a pas de nom
                {% endif %}
                </h1>
            </div>
            <br>
            <div class="container styledtable">
            <br>
            {% if people.firstname is not empty %}
                <h3>Informations de contact</h3>
                <br>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Mail</th>
                            <td>
                            {{ people.emailAddress }}&nbsp;&nbsp;
                            {{people.isReceivingNewsletter ?
                                '<span data-toggle="tooltip" title="Reçoit la newsletter" >
                                <i class="icon ion-md-paper"></i> </span>' : ''
                            }}
                            {{people.newsletterDematerialization ?
                                '<span data-toggle="tooltip" title="Newsletter envoyée sous format dématérialisé" >
                                <i class="icon ion-md-mail"></i> </span>' : ''
                             }}
                            </td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <td>
                            {% if people.hasNoAddressDefined() %}
                                Vous n'avez pas d'addresse enregistrée.
                            {% else %}
                                {% for address in people.addresses %}
                                    {{address.line}}
                                    <br>
                                    {{address.postalCode}}, {{address.city}}, {{address.country}}
                                {% endfor %}
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Téléphone fixe</th>
                            <td><div class="phone">{{ people.homePhoneNumber }}</div></td>
                        </tr>
                        <tr>
                            <th>Téléphone portable</th>
                            <td><div class="phone">{{ people.cellPhoneNumber }}</div></td>
                        </tr>
                        <tr>
                            <th>Téléphone professionnel</th>
                            <td><div class="phone">{{ people.workPhoneNumber }}</div></td>
                        </tr>
                        <tr>
                            <th>Fax</th>
                            <td><div class="phone">{{ people.workFaxNumber }}</div></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h3>Champs de saisie libre</h3>
                <br>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Observations</th>
                            <td>{{ people.observations}}</td>
                        </tr>
                        {% if is_granted("ROLE_GESTION_SENSIBLE") %}
                        <tr>
                            <th>Détails médicaux</th>
                            <td>{{ people.sensitiveObservations }}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                {% endif %}
                {{ user.roles ? '
                <br>

                    <h3>Rôles</h3>': '' }}
                    <br>
                    <table class="table table-hover">
                        <tbody>

                                    {% for responsibility in user.responsibilities %}
                                        <tr>
                                            <th>
                                                {{ responsibility is not empty ? responsibility.label : '-' }}
                                            </th>
                                            <td>
                                                {{ responsibility is not empty ? responsibility.description : "Ce compte n'a pas de rôle." }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                            </tr>
                        </tbody>
                    </table>

            </div>
            <br>


        </div>
    </div>


{% endblock %}
