{% extends 'Home/base.html.twig' %}

{% block title %}{% trans %}Édition du don{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">{% trans %}Accueil{% endtrans %}</a>
    </li>
    {% if is_granted("ROLE_GESTION") %}
        <li class="breadcrumb-item">
            <a href="{{ path('donation_list') }}">{% trans %}Liste des dons{% endtrans %}</a>
        </li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ path('donation_show', { 'id': donation.id }) }}">
            {% trans %}Don de{% endtrans %} {{ donation.amount }}&nbsp;{% trans %}€ du{% endtrans %} {{ donation.donationDate ? donation.donationDate | date('d M. Y') : '' }}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% trans %}Édition du don{% endtrans %}
    </li>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('javascript/Donation/common.js') }}"></script>
    <script src="{{ asset('javascript/Donation/edit.js') }}"></script>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-8 col-md-2">
                {{ include('Donation/_menu-donation.html.twig', { edit_donation: 'active' }) }}
            </div>
            <div class="col-12 col-md-10">
                <h1>
                    {% trans %}Édition du don{% endtrans %}
                </h1>
                {{ form_start(form, {'attr': {'id': 'form-edit-donation'}}) }}
                {% set hasDonator = donation.donator is defined %}
                {% set donator = donation.donator %}
                <div class="border p-3 mt-4">
                    <div id="people-selected" class="row {{ hasDonator ? '' : 'd-none' }}">
                        {{ include('Donation/_people_selected.html.twig') }}
                    </div>
                    <div id="people-selector" class="row {{ hasDonator ? 'd-none' : '' }}">
                        {% include 'Donation/_people_selector.html.twig'
                            with {'form_donator_widget' : form_widget(form.donator)} %}
                    </div>
                </div>
                <div class="row justify-content-between mt-3">
                    <div class="col-md-6">
                        <div class="border p-3">
                            <div class="col-12">
                                <label for="donation_amount">{% trans %}Fait un don de{% endtrans %} *</label>
                            </div>
                            <div class="col-12">
                                {{ form_widget(form.amount) }}
                                <div class="field-error-spot">
                                    {{ form_errors(form.amount) }}
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <label for="donation_donation_date">{% trans %}Le{% endtrans %} *</label>
                            </div>
                            <div class="col-12">
                                {{ form_widget(form.donation_date) }}
                                <div class="field-error-spot">
                                    {{ form_errors(form.donation_date) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="border p-3">
                            <div class="col-12">
                                <label for="donation_payment_type">{% trans %}Règle via{% endtrans %} *</label>
                            </div>
                            <div class="col-12">
                                {{ form_widget(form.payment_type) }}
                                <div class="field-error-spot">
                                    {{ form_errors(form.payment_type) }}
                                </div>
                                <div class="check-information form-group d-none">
                                    {{ form_label(form.bank)}}&nbsp;*
                                    {{ form_errors(form.bank)}}
                                    {{ form_widget(form.bank)}}
                                    {{ form_help(form.bank)}}
                                </div>
                                <div class="form-group check-information d-none">
                                    {{ form_label(form.check_number)}}&nbsp;*
                                    {{ form_errors(form.check_number)}}
                                    {{ form_widget(form.check_number)}}
                                    {{ form_help(form.check_number)}}
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <label for="donation_cashed_date">{% trans %}Paiment encaissé le{% endtrans %}</label>
                            </div>
                            <div class="col-12">
                                {{ form_widget(form.cashed_date) }}
                                <div class="field-error-spot">
                                    {{ form_errors(form.cashed_date) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <label for="donation_comment">{% trans %}Commentaire{% endtrans %}</label>
                    </div>
                    <div class="col-12">
                        {{ form_widget(form.comment) }}
                    </div>
                </div>
                {{ form_end(form) }}
                <div class="row justify-content-between mt-3">
                    <div class="col-md-6">
                        <a href="{{ path('donation_show', { 'id': donation.id }) }}" class="btn btn-secondary">
                            <i class="icon ion-md-arrow-back"></i>&nbsp;{% trans %}Retour au don{% endtrans %}
                        </a>
                    </div>
                    <div class="col-md-6">
                        <button
                            class="btn btn-primary float-right"
                            type="submit"
                            form="form-edit-donation"
                            >
                            <i class="icon ion-md-save"></i>&nbsp;{% trans %}Enregistrer les modifications{% endtrans %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
