{% extends 'Home/base.html.twig' %}

{% block title %}{% trans %}Liste des dons{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">{% trans %}Accueil{% endtrans %}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% trans %}Liste des dons{% endtrans %}
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{% trans %}Liste des dons{% endtrans %}</h1>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <table
            class="table table-striped"
            data-toggle="datatable"
            data-filter-bar="toggle"
            data-copy-button="toggle"
            data-csv-button="toggle"
            data-pdf-button="toggle"
            data-create-label="{% trans %}Enregistrer un nouveau don{% endtrans %}"
            data-create-path="{{ path('donation_new') }}"
            >
            <thead>
                <tr>
                    <th class="text-center" data-sortable="true" data-exportable="true">{% trans %}Nom{% endtrans %}</th>
                    <th class="text-center" data-sortable="true" data-exportable="true">{% trans %}Prénom{% endtrans %}</th>
                    <th class="text-center" data-sortable="true" data-exportable="true">{% trans %}Numéro d'ordre{% endtrans %}</th>
                    <th class="text-center" data-sortable="true" data-exportable="true">{% trans %}Montant{% endtrans %}</th>
                    <th class="text-center" data-sortable="true" data-exportable="true">{% trans %}Date de règlement{% endtrans %}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="d-none">
                {% for donation in donations %}
                    <tr>
                        <td class="align-middle text-center text-uppercase">{{ donation.donator.lastName }}</td>
                        <td class="align-middle text-center">{{ donation.donator.firstName }}</td>
                        <td class="align-middle text-center">{{ donation.payment.receipt.orderCode }}</td>
                        <td class="align-middle text-center">{{ donation.amount }}&nbsp;€</td>
                        <td class="align-middle text-center">{{ donation.donationDate ? donation.donationDate | date('d M. Y') : '' }} </td>
                        <td class="align-middle column-action">
                            <a
                                href="{{ path('donation_show', { 'id': donation.id }) }}"
                                class="btn btn-secondary"
                                data-toggle="tooltip"
                                title="{% trans %}Voir le don{% endtrans %}"
                                >
                                <i class="icon ion-md-eye"></i>
                            </a>
                        </td>
                        <td class="align-middle column-action">
                            <a
                                href="{{ path('donation_edit', { 'id': donation.id }) }}"
                                class="btn btn-secondary"
                                data-toggle="tooltip"
                                title="{% trans %}Éditer le don{% endtrans %}"
                                >
                                <i class="icon ion-md-create"></i>
                            </a>
                        </td>
                        <td class="align-middle column-action" data-toggle="modal" data-target="#confirmation-modal-deletion-donation-{{ donation.id }}">
                            <a
                                class="btn btn-secondary"
                                data-toggle="tooltip"
                                title="{% trans %}Supprimer le don{% endtrans %}"
                                >
                                <i class="icon ion-md-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

    {# Creation of the confirmation modals, one per member #}
    {% for donation in donations %}
        <div id="confirmation-modal-deletion-donation-{{ donation.id }}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>
                            {% trans %}Souhaitez-vous réellement supprimer ce don de{% endtrans %} <strong>{{ donation.amount }}&nbsp;€</strong>&nbsp;?
                        </p>
                        <div class="alert alert-warning" role="alert">
                            <i class="icon ion-md-alert"></i>&nbsp;{% trans %}Les données seront supprimées de manière définitive.{% endtrans %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="icon ion-md-arrow-back"></i>&nbsp;{% trans %}Annuler{% endtrans %}</button>
                        </div>
                        <div class="col text-right">
                            {{ include('Donation/_delete_form_button.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
