{% extends 'Home/base.html.twig' %}

{% block title %}
    {% trans %}Don de{% endtrans %} {{ donation.amount }}&nbsp;{% trans %}€
    du{% endtrans %} {{ donation.donationDate ? donation.donationDate | localizeddate('long', 'none') : '' }}
    {% trans %} de {% endtrans %} {{ donation.donator.firstName }} {{ donation.donator.lastName }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/User/show.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">{% trans %}Accueil{% endtrans %}</a>
    </li>
    {% if is_granted("ROLE_GESTION") %}
    <li class="breadcrumb-item">
        <a href="{{ path('donation_list') }}">{% trans %}Liste des dons{% endtrans %}</a>
    </li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">
        {% trans %}Don de{% endtrans %} {{ donation.amount }}&nbsp;{% trans %}€ du{% endtrans %} {{ donation.donationDate ? donation.donationDate | localizeddate('long', 'none') : '' }} {% trans %} de {% endtrans %} {{ donation.donator.firstName }} {{ donation.donator.lastName }}
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-8 col-md-2">
                {{ include('Donation/_menu-donation.html.twig', { show_donation: 'active' }) }}
            </div>

            <div class="col-12 col-md-10">
                <div class="row">
                    <div class="col">
                        <div class="bg-light p-4 mb-4">
                            <h3 class="text-center">{% trans %}Don de{% endtrans %} {{ donation.amount }}&nbsp;€
                            </h3>
                            <div class="lead text-center">
                                {{ donation.donator.denomination.label }} {{ donation.donator.firstName }} {{ donation.donator.lastName }},
                                le {{ donation.donationDate ? donation.donationDate | localizeddate('long', 'none') : '' }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="bg-light p-4 mb-4">
                            <h4 class="text-center">
                                Mécène
                            </h4>
                            <div class="row">
                                {% include 'People/_people-summary.html.twig' with {'people': donation.donator} %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="bg-light p-4 mb-4">
                            <h4 class="text-center">
                                Paiement
                            </h4>
                            <div class="lead text-center mb-4">
                                {% if donation.payment.dateCashed is null %}
                                    <i class="icon ion-md-warning text-info"></i>&nbsp;Paiement pas encore encaissé
                                {% else %}
                                    Encaissé le {{ donation.payment.dateCashed | localizeddate('long', 'none') }}
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <h5>
                                        Montant&nbsp;:
                                        {{ donation.payment.amount }}&nbsp;€
                                    </h5>
                                </div>
                                <div class="col text-center">
                                    <h5>
                                        Reçu le&nbsp;:
                                        {{ donation.payment.dateReceived | localizeddate('long', 'none') }}
                                    </h5>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col text-center">
                                    <h5 class="mb-0">
                                        Effectué par&nbsp;:
                                    </h5>
                                    <div class="row">
                                        {% include 'People/_people-summary.html.twig' with {'people': donation.payment.payer} %}
                                    </div>
                                </div>
                                <div class="col">
                                    <h5 class="mb-0 text-center">
                                        Réglé via&nbsp;:
                                        {{ donation.payment.type.label }}
                                    </h5>
                                    {% if (donation.payment.type.isBankNeeded) %}
                                        {% include 'Payment/_check-summary.html.twig' with {'payment': donation.payment} %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="bg-light p-4 mb-4">
                            <h4 class="text-center">
                                Reçu fiscal
                            </h4>
                            <div class="row">
                                <div class="col text-center">
                                    <h5>
                                        Année fiscale&nbsp;:
                                        {{ donation.payment.receipt.year }}
                                    </h5>
                                </div>
                                <div class="col text-center">
                                    <h5>
                                        Numéro d'ordre&nbsp;:
                                        {{ donation.payment.receipt.orderCode }}
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if donation.payment.membership is not null %}
                    <div class="row">
                        <div class="col-12">
                            <div class="bg-light p-4 mb-4">
                                <h4 class="text-center mb-4">
                                    Une adhésion {{ donation.payment.membership.type.label }} est liée à ce don
                                </h4>
                                <div>
                                    <a class="btn btn-block btn-lg btn-primary"
                                        href="{{ path('membership_show', { 'id': donation.payment.membership.id }) }}"
                                        >
                                        {% trans %}Voir l'adhésion{% endtrans %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-12">
                        <div class="bg-light p-4 mb-4">
                            <h4 class="text-center">
                                Commentaire
                            </h4>
                            <div class="row">
                                <div class="col">
                                    {% if donation.payment.comment != '' %}
                                        {{ donation.payment.comment }}
                                    {% else  %}
                                        <div class="text-center">
                                            <span class="text-italic text-muted">
                                                Pas de commentaire.
                                            </span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    {% if is_granted("ROLE_GESTION") %}
                    <div class="col">
                        <a href="{{ path('donation_list') }}" class="btn btn-secondary"><i class="icon ion-md-arrow-back"></i>&nbsp;{% trans %}Retourner à la liste des utilisateurices{% endtrans %}</a>
                    </div>
                    {% endif %}
                    <div class="col text-right">
                        <button data-toggle="modal" data-target="#confirmation-modal-deletion-donation-{{ donation.id }}" class="btn btn-danger">
                            <i class="icon ion-md-trash"></i>&nbsp;{% trans %}Supprimer le don{% endtrans %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="confirmation-modal-deletion-donation-{{ donation.id }}" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                        {% trans %}Souhaitez-vous réellement supprimer ce don de{% endtrans %} <strong>{{ donation.amount }}&nbsp;€</strong>&nbsp;?
                    </p>
                    <div class="alert alert-warning" role="alert">
                        <i class="icon ion-md-alert"></i>&nbsp;{% trans %}Les données seront supprimées de manière définitive.{% endtrans %}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="icon ion-md-arrow-back"></i>&nbsp;{% trans %}Annuler{% endtrans %}</button>
                    </div>
                    <div class="col text-right">
                        {{ include('Donation/_delete_form_button.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
