<div class="row">
    <div class="col">
        <div class="bg-light p-4 mb-4">
            <h3 class="text-center">
                {% if people.denomination or people.firstname or people.lastname %}
                    {{ people.denomination ? people.denomination.label : "" }} {{ people.firstname }} {{ people.lastname }}
                {% else %}
                    Ce·tte membre n'a pas de nom
                {% endif %}
            </h3>
            <div class="lead text-center">
                {% for type in people.types %}
                    {% if not type.isSensible or (type.isSensible and (is_granted('ROLE_GESTION_SENSIBLE') or is_granted('ROLE_ADMIN_SENSIBLE'))) %}
                        <span
                                class="badge badge-info"
                                data-toggle="tooltip"
                                title="{{ type.description }}"
                        >
                            {{ type.label }}
                        </span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="bg-light p-4 mb-4">
            <h4 class="text-center mb-5">
                Informations de contact
            </h4>
            <div class="row">
                <div class="col text-center">
                    <strong>
                        Adresse postale&nbsp;:
                    </strong>
                    <br>
                    {% if people.hasNoAddressDefined() %}
                        <i>Ce membre n'a pas d'adresse enregistrée.</i>
                    {% else %}
                        {% for address in people.addresses %}
                            {{address.line}}
                            <br>
                            {% if not address.lineTwo is null %}
                                {{ address.lineTwo }}<br>
                            {% endif %}
                            {{address.postalCode}}, {{address.city}}, {{address.country}}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col text-center">
                    <strong>
                        Adresse mail&nbsp;:
                    </strong>
                    <br>
                    {{ people.emailAddress }}
                    {% if people.isReceivingNewsletter %}
                        <span data-toggle="tooltip" title="Abonné-e à la newsletter" >
                            <i class="icon ion-md-paper"></i>
                        </span>
                    {% endif %}
                    {% if people.newsletterDematerialization %}
                        <span data-toggle="tooltip" title="Newsletter envoyée sous format dématérialisé" >
                            <i class="icon ion-md-mail"></i>
                        </span>
                    {% endif %}
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col text-center mb-2">
                            <strong>
                                Téléphone fixe&nbsp;:
                            </strong>
                            <br>
                            {{ people.displayHomePhoneNumber }}
                        </div>
                        <div class="col text-center">
                            <strong>
                                Téléphone professionnel&nbsp;:
                            </strong>
                            <br>
                            {{ people.displayWorkPhoneNumber }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center mb-2">
                            <strong>
                                Téléphone portable&nbsp;:
                            </strong>
                            <br>
                            {{ people.displayCellPhoneNumber }}
                        </div>
                        <div class="col text-center">
                            <strong>
                                Fax&nbsp;:
                            </strong>
                            <br>
                            {{ people.displayWorkFaxNumber }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="bg-light p-4 mb-4">
            <h4 class="text-center mb-5">
                Autres informations
            </h4>
            <div class="row">
                <div class="col-2 text-center">
                    <strong>
                        Année de premier contact&nbsp;:
                    </strong>
                    <br>
                    {{ people.firstContactYear }}
                </div>
                <div class="col text-center">
                    <strong>
                        Observations&nbsp;:
                    </strong>
                    <br>
                    {{ people.observations}}
                </div>
                {% if is_granted("ROLE_GESTION_SENSIBLE") %}
                    <div class="col text-center">
                        <strong>
                            Détails médicaux&nbsp;:
                        </strong>
                        <br>
                        {{ people.sensitiveObservations }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
