<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% trans %}Structura -{% endtrans %} {% block title %}{% endblock %}</title>
        {% block global_css %}
            <link rel="stylesheet" href="{{ asset('css/library/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('javascript/library/datatables.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/library/theme.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/global.css') }}">
        {% endblock %}
        {% block global_js %}
            <script src="{{ asset('javascript/library/jquery.min.js') }}"></script>
            <script src="{{ asset('javascript/library/datatables.min.js') }}"></script>
            <script src="{{ asset('javascript/library/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('javascript/global.js') }}"></script>
        {% endblock %}
        {% block javascript %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/Home/base.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('favicon-AHA.png') }}" />
    </head>
    <body>
        {# ------------------------------------ #}
        {# ------------- Top menu ------------- #}
        {# ------------------------------------ #}
        <header>
            <div class="container">
            <nav id="top-navbar" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <a class="navbar-brand" href="{{ path('home') }}">{% trans %}Accueil{% endtrans %} <span class="sr-only">{% trans %}(page courante){% endtrans %}</span></a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbar-top-menu"
                    aria-controls="navbar-top-menu"
                    aria-expanded="false"
                    aria-label="Ouvrir le menu de navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div
                    class="collapse navbar-collapse"
                    id="navbar-top-menu"
                >
                    <ul class="navbar-nav mr-auto">
                        {% if app.user is not null %}
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="dropdown-directory"
                                    role="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                >
                                    {% trans %}Annuaires{% endtrans %}
                                </a>
                                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdown-directory">
                                    {% if is_granted("ROLE_GESTION") %}
                                        <a
                                            class="dropdown-item"
                                            href="{{ path('member_list') }}"
                                        >
                                            {% trans %}Adhérent·es{% endtrans %}
                                        </a>
                                        <div class="dropdown-divider"></div>
                                    {% endif %}
                                    <a
                                        class="dropdown-item disabled"
                                        href="#"
                                        data-toggle="tooltip"
                                        title="Work in progress..."
                                    >
                                        {% trans %}Sympatisant.es{% endtrans %}
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a
                                        class="dropdown-item disabled"
                                        href="#"
                                        data-toggle="tooltip"
                                        title="Work in progress..."
                                    >
                                        {% trans %}Professionnels de santé{% endtrans %}
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('people_list') }}">
                                        {% trans %}Global{% endtrans %}
                                    </a>
                                </div>
                            </li>
                            {% if is_granted("ROLE_GESTION") %}
                                <li class="nav-item dropdown">
                                    <a
                                        class="nav-link dropdown-toggle"
                                        href="#"
                                        id="dropdown-directory"
                                        role="button"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                    >
                                        {% trans %}Adhésions{% endtrans %}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdown-directory">
                                            <a
                                                class="dropdown-item"
                                                href="{{ path('membership_list') }}"
                                            >
                                                {% trans %}Liste des adhésions actives{% endtrans %}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a
                                                class="dropdown-item"
                                                href="{{ path('membership_create') }}"
                                            >
                                                {% trans %}Enregistrer une nouvelle adhésion{% endtrans %}
                                            </a>
                                    </div>
                                </li>
                            {% endif %}
                                <li class="nav-item dropdown">
                                    <a
                                        class="nav-link dropdown-toggle"
                                        href="#"
                                        id="dropdown-directory"
                                        role="button"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                    >
                                        {% trans %}Dons{% endtrans %}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdown-directory">
                                            <a
                                                class="dropdown-item"
                                                href="{{ path('donation_list') }}"
                                            >
                                                {% trans %}Liste des dons{% endtrans %}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a
                                                class="dropdown-item"
                                                href="{{ path('donation_new') }}"
                                            >
                                                {% trans %}Enregistrer un nouveau don{% endtrans %}
                                            </a>
                                    </div>
                                </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        {% if app.user is not null %}
                            {% if is_granted("ROLE_ADMIN") %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('administration_dashboard') }}">{% trans %}Administration{% endtrans %}</a>
                                </li>
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="dropdown-user"
                                    role="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                >
                                    {{ app.user.username }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-user">
                                    <a class="dropdown-item" href="{{ path('profile_show', { 'id': app.user.id }) }}">{% trans %}Mon profil{% endtrans %}</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('logout') }}">{% trans %}Me déconnecter{% endtrans %}</a>
                                </div>
                            </li>
                        {% endif %}
                        {% include 'Home/_locale_switcher.html.twig' %}
                    </ul>

                </div>
            </nav>
            </div>
        </header>

        <div id="container-alert-messages" class="container">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Close{% endtrans %}</span></button>
                        {{ message | raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="container">
            <nav aria-label="Fil d'ariane">
                <ol class="breadcrumb">
                    {% block breadcrumb %}
                        <li class="breadcrumb-item active" aria-current="page">{% trans %}Accueil{% endtrans %}</li>
                    {% endblock %}
                </ol>
            </nav>
        </div>

        {% block body %}{% endblock %}

        <footer class="page-footer fixed-bottom">
            <nav class="nav bg-light justify-content-center">
                <li class="nav-item">
                    <a class="nav-link footer-copyright" href="#"><i class="icon ion-md-link"></i>&nbsp;{% trans %}Copyright 2018 LUCILE DECROZANT-TRIQUENAUX EIRL©{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon ion-md-link"></i>&nbsp;{% trans %}Site réalisé sous licence AGPL v3{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon ion-md-link"></i>&nbsp;{% trans %}Voir le code source{% endtrans %}</a>
                </li>
            </nav>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
