{% extends 'Home/base.html.twig' %}

{% block title %}{% trans %}Accueil{% endtrans %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Home/index.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">
        {% trans %}Accueil{% endtrans %}
    </li>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('javascript/Home/index.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row my-3">
            <div class="col-2">
                <div class="row justify-content-around">
                    <div class="col-12">
                        <a class="btn btn-primary btn-block huge-button mb-3"
                           href="{{ path('people_create') }}"
                           role="button">
                            <div>
                                {% trans %}Renseigner{% endtrans %}
                                {% trans %}l'annuaire{% endtrans %}
                            </div>
                            <div class="pt-2">
                                <i class="icon ion-md-person-add"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="btn btn-primary btn-block huge-button mb-3"
                           href="{{ path('membership_create') }}"
                           role="button">
                            <div>
                                {% trans %}Enregistrer{% endtrans %}
                                {% trans %}une adhésion{% endtrans %}
                            </div>
                            <div class="pt-2">
                                <i class="icon ion-md-filing"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="btn btn-primary btn-block huge-button"
                           href="{{ path('donation_new') }}"
                           role="button">
                            <div>
                                {% trans %}Enregistrer{% endtrans %}
                                {% trans %}un don{% endtrans %}
                            </div>
                            <div class="pt-2">
                                <i class="icon ion-md-cash"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-10 pl-0">
                <div class="bg-light h-100 px-4 py-3">
                    <h3 class="text-center pb-2">{% trans %}Ex-Membres à relancer{% endtrans %}</h4>
                    <table
                        id="people-waiting-send-up"
                        class="table bg-white table-sm"
                        data-toggle="datatable"
                        data-number-rows-display=6
                        data-rows="openable"
                        data-ajax-url="/ajax/people/list/old-members"
                    >
                        <thead>
                            <tr>
                                <th data-exportable="true" data-sortable="true" data-json-id="lastname" class="text-uppercase">
                                    {% trans %}Nom{% endtrans %}
                                </th>
                                <th data-exportable="true" data-sortable="true" data-json-id="firstname">
                                    {% trans %}Prénom{% endtrans %}
                                </th>
                                <th data-exportable="true" class="text-center" data-json-id="home_phone_number" data-class="text-center">
                                    {% trans %}Téléphone fixe{% endtrans %}
                                </th>
                                <th data-exportable="true" class="text-center" data-json-id="cell_phone_number" data-class="text-center">
                                    {% trans %}Téléphone portable{% endtrans %}
                                </th>
                                <th data-exportable="true" class="text-center" data-json-id="email_address" data-class="text-center">
                                    {% trans %}Adresse mail{% endtrans %}
                                </th>
                                <th data-class="details-control text-center"></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="d-none childrow-structure">
                        <div class="container-fluid bg-white">
                            <div class="row">
                                <div class="col px-1">
                                    <div class="bg-light text-center p-2">
                                        <div class="row">
                                            <div class="col-3 text-left pl-4">
                                                <i class="icon ion-md-mail ex-member-details-background-icon text-white"></i>
                                            </div>
                                            <div class="col">
                                                <div>
                                                    <span data-json-id="denomination"></span>
                                                    <span data-json-id="lastname" class="text-uppercase"></span>
                                                    <span data-json-id="firstname"></span>
                                                </div>
                                                <div>
                                                    <span data-json-id="address.line"></span>
                                                </div>
                                                <div>
                                                    <span data-json-id="address.line_two"></span>
                                                </div>
                                                <div>
                                                    <span data-json-id="address.postal_code"></span>
                                                    <span class="text-uppercase" data-json-id="address.city"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col px-1">
                                    <div class="bg-light p-2">
                                        <div class="row">
                                            <div class="col-3 text-left pl-4">
                                                <i class="icon ion-md-call ex-member-details-background-icon text-white"></i>
                                            </div>
                                            <div class="col text-right pr-1">
                                                <strong>
                                                    {% trans %}Fixe{% endtrans %}&nbsp;:
                                                </strong><br>
                                                <strong>
                                                    {% trans %}Portable{% endtrans %}&nbsp;:
                                                </strong><br>
                                                <strong>
                                                    {% trans %}Professionnel{% endtrans %}&nbsp;:
                                                </strong><br>
                                            </div>
                                            <div class="col text-left pl-1">
                                                <span data-empty-field-needed="true" data-json-id="home_phone_number"></span><br>
                                                <span data-empty-field-needed="true" data-json-id="cell_phone_number"></span><br>
                                                <span data-empty-field-needed="true" data-json-id="work_phone_number"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 px-1">
                                    <div class="bg-light p-2">
                                        <div class="row">
                                            <div class="col-2 text-left pl-4 pr-0">
                                                <i class="icon ion-md-at ex-member-details-background-icon text-white"></i>
                                            </div>
                                            <div class="col pl-0 d-flex align-items-center">
                                                <div class="text-center w-100">
                                                    <span data-json-id="email_address"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 px-1">
                                    <div class="bg-light p-2">
                                        <div class="row">
                                            <div class="col-3 text-left pl-4">
                                                <i class="icon ion-md-filing ex-member-details-background-icon text-white"></i>
                                            </div>
                                            <div class="col pl-0 d-flex align-items-center">
                                                <div class="text-center w-100">
                                                    <strong class="text-center">{% trans %}Dernière<br>adhésion{% endtrans %}</strong><br>
                                                    <span data-json-id="last_membership_year"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1 px-1">
                                    <div class="row justify-content-between h-100">
                                        <div class="col-12">
                                            <a
                                                href="#"
                                                class="btn btn-secondary w-100"
                                                data-toggle="tooltip"
                                                data-is-url="true"
                                                data-json-id="show_individual_url"
                                                title="{% trans %}Voir le profil{% endtrans %}"
                                                >
                                                <i class="icon ion-md-eye"></i>
                                            </a>
                                        </div>
                                        <div class="col-12 d-flex align-items-end">
                                            <a
                                                href="#"
                                                class="btn btn-secondary w-100"
                                                data-toggle="tooltip"
                                                data-is-url="true"
                                                data-json-id="edit_individual_url"
                                                title="{% trans %}Éditer le profil{% endtrans %}"
                                                >
                                                <i class="icon ion-md-create"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="bg-light p-4">
                    <h3 class="text-center pb-3">{% trans %}Revenus de l'association{% endtrans %}</h4>
                    <canvas
                        id="revenues-chart"
                        width="1200"
                        height="200"
                        data-url-data="{{ path('ajax_revenues_recap') }}"
                        ></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
