{% extends 'Home/base.html.twig' %}

{% block title %}
    {% trans %}Éditer le profil de{% endtrans %} {{ member.firstName }} {{ member.lastName }}
{% endblock %}

{% block javascript %}
    <script src="{{ asset('javascript/User/edit.js') }}"></script>
    <script src="{{ asset('javascript/People/phone.js') }}"></script>
    <script src="{{ asset('javascript/library/jQuery-Mask-1.14/jquery.mask.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/User/edit.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">{% trans %}Accueil{% endtrans %}</a>
    </li>
    {% if is_granted("ROLE_GESTION") %}
        <li class="breadcrumb-item">
            <a href="{{ path('member_list') }}">{% trans %}Liste des adhérent·es{% endtrans %}</a>
        </li>
    {% endif %}
    <li class="breadcrumb-item">
        <a href="{{ path('member_show', { 'id': member.id }) }}">
            {% trans %}Profil de{% endtrans %} {{ member.firstName }} {{ member.lastName }}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% trans %}Éditer le profil de{% endtrans %} {{ member.firstName }} {{ member.lastName }}
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">

            <div class="col-8 col-md-2">
                {{ include('Member/_menu-member.html.twig', { edit_profile: 'active' }) }}
            </div>

            <div class="col-12 col-md-10">
                <h1>{% trans %}Édition de l'adhérent.e{% endtrans %}</h1>
                <p>{% trans %}Les champs notés avec * sont requis.{% endtrans %}</p>

                {{ form_start(member_edit, {'attr': {'id': 'form-edit-member'}}) }}
                <div class="form-group">
                    {{ form_label(member_edit.denomination)}} *
                    {{ form_widget(member_edit.denomination)}}
                </div>

                <div class="form-group">
                    {{ form_label(member_edit.firstname)}} *
                    {{ form_widget(member_edit.firstname)}}
                </div>

                <div class="form-group">
                    {{ form_label(member_edit.lastname)}} *
                    {{ form_widget(member_edit.lastname)}}
                </div>

                <div class="form-group">
                    {{ form_label(member_edit.isContact)}}
                    {{ form_widget(member_edit.isContact)}}
                </div>

                {% if is_granted('ROLE_GESTION_SENSIBLE') or is_granted('ROLE_ADMIN_SENSIBLE') %}
                    <div class="form-group">
                        {{ form_label(member_edit.needHelp)}}
                        {{ form_widget(member_edit.needHelp)}}
                    </div>
                {% endif %}

                <div class="form-group">
                    {% for address in member_edit.addresses %}
                        {{ form_widget(address) }}
                        {{ form_label(address) }}
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form_label(member_edit.emailAddress)}}
                    {{ form_widget(member_edit.emailAddress)}}
                </div>

                <div class="form-group">
                    {{ form_label(member_edit.isReceivingNewsletter)}}
                    {{ form_widget(member_edit.isReceivingNewsletter)}}
                    {{ form_label(member_edit.newsletterDematerialization)}}
                    {{ form_widget(member_edit.newsletterDematerialization)}}
                </div>

                <div class="form-group">
                    {{ form_label(member_edit.homePhoneNumber)}}
                    {{ form_widget(member_edit.homePhoneNumber)}}
                    {{ form_help(member_edit.homePhoneNumber)}}
                </div>

                <div class="form-group">
                    {{ form_label(member_edit.cellPhoneNumber)}}
                    {{ form_widget(member_edit.cellPhoneNumber)}}
                    {{ form_help(member_edit.cellPhoneNumber)}}
                </div>

                <div class="form-group">
                    {{ form_label(member_edit.workPhoneNumber)}}
                    {{ form_widget(member_edit.workPhoneNumber)}}
                    {{ form_help(member_edit.workPhoneNumber)}}
                </div>

                <div class="form-group">
                    {{ form_label(member_edit.workFaxNumber)}}
                    {{ form_widget(member_edit.workFaxNumber)}}
                    {{ form_help(member_edit.workFaxNumber)}}
                </div>

                <div class="form-group">
                    {{ form_label(member_edit.firstContactYear)}}
                    {{ form_widget(member_edit.firstContactYear)}}
                    {{ form_help(member_edit.firstContactYear)}}
                </div>

                <div class="form-group">
                    {{ form_label(member_edit.observations)}}
                    {{ form_widget(member_edit.observations)}}
                    {{ form_help(member_edit.observations)}}
                </div>

                {% if is_granted('ROLE_GESTION_SENSIBLE') %}
                    <div class="form-group">
                        {{ form_label(member_edit.sensitiveObservations)}}
                        {{ form_widget(member_edit.sensitiveObservations)}}
                        {{ form_help(member_edit.sensitiveObservations)}}
                    </div>
                {% endif %}

                {% do member_edit.sensitiveObservations.setRendered %}
                {% do member_edit.needHelp.setRendered %}
                {% do member_edit.firstContactYear.setRendered %}

                {{ form_end(member_edit) }}

                <div class="row">
                    <div class="col">
                        <a href="{{ path('member_show', { 'id': member.id }) }}" class="btn btn-secondary">
                            <i class="icon ion-md-arrow-back"></i>&nbsp;{% trans %}Retourner au profil de l'adhérent⋅e{% endtrans %}
                        </a>
                    </div>
                    <div class="col text-right">
                        <button
                            id="edit-member-submit-button"
                            type="submit"
                            form="form-edit-member"
                            class="btn btn-primary">
                            <i class="icon ion-md-save"></i>&nbsp;{% trans %}Enregistrer les modifications{% endtrans %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
