{% extends 'Home/base.html.twig' %}

{% block title %}
    Éditer le profil de {{ member.firstName }} {{ member.lastName }}
{% endblock %}

{% block javascript %}
    {{ encore_entry_script_tags('user_edit') }}
    {{ encore_entry_script_tags('people_phone') }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/User/edit.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    {% if is_granted("ROLE_GESTION") %}
        <li class="breadcrumb-item">
            <a href="{{ path('member_list') }}">Liste des adhérent·es</a>
        </li>
    {% endif %}
    <li class="breadcrumb-item">
        <a href="{{ path('member_show', { 'id': member.id }) }}">
            Profil de {{ member.firstName }} {{ member.lastName }}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Éditer le profil de {{ member.firstName }} {{ member.lastName }}
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Édition de l'adhérent.e</h1>

                {{ include('People/partials/people_information_form.html.twig', { people_form: member_edit }) }}

                <div class="row">
                    <div class="col">
                        <a href="{{ path('member_show', { 'id': member.id }) }}" class="btn btn-secondary">
                            <i class="ri-arrow-left-line"></i>&nbsp;Retourner au profil de l'adhérent⋅e
                        </a>
                    </div>
                    <div class="col text-right">
                        <button
                            id="edit-member-submit-button"
                            type="submit"
                            form="form-people"
                            class="btn btn-primary">
                            <i class="ri-save-2-fill"></i>&nbsp;Enregistrer les modifications
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
