{% extends 'Home/base.html.twig' %}

{% block javascript %}
    <script src="{{ asset('javascript/User/edit.js') }}"></script>
    <script src="{{ asset('javascript/People/phone.js') }}"></script>
    <script src="{{ asset('javascript/library/jQuery-Mask-1.14/jquery.mask.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/User/edit.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">{% trans %}Accueil{% endtrans %}</a>
    </li>
    {% if is_granted("ROLE_GESTION") %}
        <li class="breadcrumb-item">
            <a href="{{ path('member_list') }}">{% trans %}Liste des adhérent·es{% endtrans %}</a>
        </li>
    {% endif %}
    <li class="breadcrumb-item">
        <a href="{{ path('member_show', { 'id': member.id }) }}">
            {% trans %}Profil de{% endtrans %} {{ member.firstName }} {{ member.lastName }}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% trans %}Éditer le profil de{% endtrans %} {{ member.firstName }} {{ member.lastName }}
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">

            <div class="col-8 col-md-2">
                <ul class="list-group">
                    <a href="{{ path('member_show', { 'id': member.id }) }}" class="list-group-item list-group-item-action">{% trans %}Profil{% endtrans %}</a>
                    <a href="#" class="list-group-item list-group-item-action">{% trans %}Adhésions{% endtrans %}</a>
                    <a href="#" class="list-group-item list-group-item-action">{% trans %}Dons{% endtrans %}</a>
                    <a href="{{ path('member_edit', { 'id': member.id }) }}" class="list-group-item list-group-item-action active">{% trans %}Édition{% endtrans %}</a>
                </ul>
            </div>



            <div class="col-12 col-md-10">
                <div class="container">
                    <div class="row">
                        <div class="col text-left">
                            <h1>{% trans %}Édition de l'adhérent.e{% endtrans %}</h1>
                        </div>
                    </div>
                            <p> {% trans %}Les champs notés avec * sont requis.{% endtrans %} </p>

                    {{ form_start(member_edit, {'attr': {'id': 'form-edit-member'}}) }}
                    <div class="form-group">
                        {{ form_label(member_edit.denomination)}} *
                        {{ form_widget(member_edit.denomination)}}
                    </div>

                    <div class="form-group">
                        {{ form_label(member_edit.firstname)}} *
                        {{ form_widget(member_edit.firstname)}}
                    </div>

                    <div class="form-group">
                        {{ form_label(member_edit.lastname)}} *
                        {{ form_widget(member_edit.lastname)}}
                    </div>

                    <div class="form-group">
                        {% for address in member_edit.addresses %}
                            {{ form_widget(address) }}
                            {{ form_label(address) }}
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form_label(member_edit.emailAddress)}}
                        {{ form_widget(member_edit.emailAddress)}}
                    </div>

                    <div class="form-group">
                        {{ form_label(member_edit.isReceivingNewsletter)}}
                        {{ form_widget(member_edit.isReceivingNewsletter)}}
                        {{ form_label(member_edit.newsletterDematerialization)}}
                        {{ form_widget(member_edit.newsletterDematerialization)}}
                    </div>

                    <div class="form-group">
                        {{ form_label(member_edit.homePhoneNumber)}}
                        {{ form_widget(member_edit.homePhoneNumber)}}
                        {{ form_help(member_edit.homePhoneNumber)}}
                    </div>

                    <div class="form-group">
                        {{ form_label(member_edit.cellPhoneNumber)}}
                        {{ form_widget(member_edit.cellPhoneNumber)}}
                        {{ form_help(member_edit.cellPhoneNumber)}}
                    </div>

                    <div class="form-group">
                        {{ form_label(member_edit.workPhoneNumber)}}
                        {{ form_widget(member_edit.workPhoneNumber)}}
                        {{ form_help(member_edit.workPhoneNumber)}}
                    </div>

                    <div class="form-group">
                        {{ form_label(member_edit.workFaxNumber)}}
                        {{ form_widget(member_edit.workFaxNumber)}}
                        {{ form_help(member_edit.workFaxNumber)}}
                    </div>

                    <div class="form-group">
                        {{ form_label(member_edit.observations)}}
                        {{ form_widget(member_edit.observations)}}
                        {{ form_help(member_edit.observations)}}
                    </div>

                    {% if is_granted('ROLE_GESTION_SENSIBLE') %}
                        <div class="form-group">
                            {{ form_label(member_edit.sensitiveObservations)}}
                            {{ form_widget(member_edit.sensitiveObservations)}}
                            {{ form_help(member_edit.sensitiveObservations)}}
                        </div>
                    {% endif %}

                    {% do member_edit.sensitiveObservations.setRendered %}

                    {{ form_end(member_edit) }}

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="{{ path('member_list') }}" class="btn btn-secondary">
                        <i class="icon ion-md-arrow-back"></i>&nbsp;{% trans %}Retourner à la liste des adhérent⋅es{% endtrans %}
                    </a>
                </div>
                <div class="col text-right">
                    <button
                        id="edit-member-submit-button"
                        type="submit"
                        form="form-edit-member"
                        class="btn btn-primary">
                        {% trans %}Enregistrer les modifications{% endtrans %}
                    </button>
                </div>
            </div>
        </div>

        <div id="confirmation-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>{% trans %}Souhaitez-vous réellement supprimer ce profil ?{% endtrans %}</p>
                        <div class="alert alert-warning" role="alert">
                            <i class="icon ion-md-alert"></i>&nbsp;{% trans %}Les données seront supprimées de manière définitive.{% endtrans %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="icon ion-md-arrow-back"></i>&nbsp;{% trans %}Annuler{% endtrans %}</button>
                        </div>
                        <div class="col text-right">
                            {{ form_start(delete_form) }}
                            <button id="delete_button" type="submit" class="btn btn-danger"><i class="icon ion-md-trash"></i>&nbsp;{% trans %}Supprimer{% endtrans %} {{ member.firstName }}</button>
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
