{% extends 'Home/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/User/show.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    {% if is_granted("ROLE_GESTION") %}
    <li class="breadcrumb-item">
        <a href="{{ path('member_list') }}">Liste des adhérent·es</a>
    </li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">
        {% if member.user != NULL and app.user.username == member.user.username %}
            Mon profil
        {% else %}
        Profil de {{ member.firstName }} {{ member.lastName }}
        {% endif %}
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">

            <div class="col-8 col-md-2">
                <ul class="list-group">
                  <a href="{{ path('member_show', { 'id': member.id }) }}" class="list-group-item list-group-item-action active">Profil</a>
                  <a href="#" class="list-group-item list-group-item-action ">Adhésions</a>
                  <a href="#" class="list-group-item list-group-item-action">Dons</a>
                  <a href="{{ path('member_edit', { 'id': member.id }) }}" class="list-group-item list-group-item-action">Édition</a>
                </ul>
            </div>



        <div class="col-12 col-md-10">
            <div class="col">
                <h1>
                {% if member.denomination or member.firstname or member.lastname %}
                {{ member.denomination ? member.denomination.label : "" }} {{ member.firstname }} {{ member.lastname }}
                {% else %}
                Ce·tte membre n'a pas de nom
                {% endif %}
                </h1>
            </div>
            <br>
            <div class="container styledtable">
            <br>
                <h3>Informations de contact</h3>
                <br>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Mail</th>
                            <td>
                            {{ member.emailAddress }}&nbsp;&nbsp;
                            {{member.isReceivingNewsletter ?
                                '<span data-toggle="tooltip" title="Reçoit la newsletter" >
                                <i class="icon ion-md-paper"></i> </span>' : ''
                            }}
                            {{member.newsletterDematerialization ?
                                '<span data-toggle="tooltip" title="Newsletter envoyée sous format dématérialisé" >
                                <i class="icon ion-md-mail"></i> </span>' : ''
                             }}
                            </td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <td>
                                {% if member.hasNoAddressDefined() %}
                                    Ce·tte membre n'a pas d'adresse enregistrée.
                                {% else %}
                                    {% for address in member.addresses %}
                                        {{address.line}}
                                        <br>
                                        {{address.postalCode}}, {{address.city}}, {{address.country}}
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Téléphone fixe</th>
                            <td><div class="phone">{{ member.homePhoneNumber }}</div></td>
                        </tr>
                        <tr>
                            <th>Téléphone portable</th>
                            <td><div class="phone">{{ member.cellPhoneNumber }}</div></td>
                        </tr>
                        <tr>
                            <th>Téléphone professionnel</th>
                            <td><div class="phone">{{ member.workPhoneNumber }}</div></td>
                        </tr>
                        <tr>
                            <th>Fax</th>
                            <td><div class="phone">{{ member.workFaxNumber }}</div></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h3>Informations personnelles</h3>
                <br>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Observations</th>
                            <td>{{ member.observations}}</td>
                        </tr>
                        {% if is_granted("ROLE_GESTION_SENSIBLE") %}
                        <tr>
                            <th>Détails médicaux</th>
                            <td>{{ member.sensitiveObservations }}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <br>

            <div class="container">
                <div class="row">
                    {% if is_granted("ROLE_GESTION") %}
                    <div class="col">
                        <a href="{{ path('member_list') }}" class="btn btn-secondary"><i class="icon ion-md-arrow-back"></i>&nbsp;Retourner à la liste des utilisateurices</a>
                    </div>
                    {% endif %}
                    <div class="col text-right">
                        <button data-toggle="modal" data-target="#confirmation-modal" class="btn btn-danger">
                            <i class="icon ion-md-trash"></i>&nbsp;Supprimer {{ member.firstName }} {{ member.lastName }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="confirmation-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Souhaitez-vous réellement supprimer ce profil ?</p>
                    <div class="alert alert-warning" role="alert">
                        <i class="icon ion-md-alert"></i>&nbsp;Les données seront supprimées de manière définitive.
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <i class="icon ion-md-arrow-back"></i>&nbsp;Annuler
                        </button>
                    </div>
                    <div class="col text-right">
                        {{ form_start(delete_form) }}
                        <button type="submit" class="btn btn-danger" id="delete_button">
                            <i class="icon ion-md-trash"></i>&nbsp;Supprimer {{ member.firstName }} {{ member.lastName }}
                        </button>
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
