{% extends 'Home/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/User/show.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">{% trans %}Accueil{% endtrans %}</a>
    </li>
    {% if is_granted("ROLE_GESTION") %}
    <li class="breadcrumb-item">
        <a href="{{ path('member_list') }}">{% trans %}Liste des adhérent·es{% endtrans %}</a>
    </li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">
        {% if member.user != NULL and app.user.username == member.user.username %}
            <a href="{{ path('member_show', { 'id': member.id }) }}">{% trans %}Mon profil{% endtrans %}</a>
        {% else %}
            <a href="{{ path('member_show', { 'id': member.id }) }}">{% trans %}Profil de{% endtrans %} {{ member.firstName }} {{ member.lastName }}</a>
        {% endif %}
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% trans %}Liste des adhésions de l'utilisateurice{% endtrans %}
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">

            <div class="col-8 col-md-2">
                <ul class="list-group">
                    <a href="{{ path('member_show', { 'id': member.id }) }}" class="list-group-item list-group-item-action">{% trans %}Profil{% endtrans %}</a>
                    <a href="{{ path('member_memberships_show', { 'id': member.id }) }}" class="active list-group-item list-group-item-action ">{% trans %}Adhésions{% endtrans %}</a>
                    <a href="#" class="list-group-item list-group-item-action disabled" data-toggle="tooltip" title="Work in progress">{% trans %}Dons{% endtrans %}</a>
                    <a href="{{ path('member_edit', { 'id': member.id }) }}" class="list-group-item list-group-item-action">{% trans %}Édition{% endtrans %}</a>
                </ul>
            </div>

            {{ include('Member/_user-s-memberships-list.html.twig') }}
    </div>
{% endblock %}
