{% extends 'Home/base.html.twig' %}

{% block title %}
    {% trans %}Éditer le profil de{% endtrans %} {{ people.lastName|upper }} {{ people.firstName }}
{% endblock %}

{% block javascript %}
    {{ encore_entry_script_tags('user_edit') }}
    {{ encore_entry_script_tags('people_phone') }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/User/edit.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">{% trans %}Accueil{% endtrans %}</a>
    </li>
    {% if is_granted("ROLE_GESTION") %}
        <li class="breadcrumb-item">
            <a href="{{ path('people_list') }}">{% trans %}Annuaire généraliste{% endtrans %}</a>
        </li>
    {% endif %}
    <li class="breadcrumb-item">
        <a href="{{ path('people_show', { 'id': people.id }) }}">
            {% trans %}Profil de{% endtrans %} {{ people.lastName|upper }} {{ people.firstName }}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% trans %}Éditer le profil de{% endtrans %} {{ people.lastName|upper }} {{ people.firstName }}
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col text-left">
                        <h1>{% trans %}Édition de la personne dans l'annuaire{% endtrans %}</h1>
                    </div>
                </div>

                {{ include('People/partials/people_information_form.html.twig', { people_form: people_edit }) }}

                <div class="row">
                    <div class="col">
                        <a href="{{ path('people_show', { 'id': people.id }) }}" class="btn btn-secondary">
                            <i class="icon ion-md-arrow-back"></i>&nbsp;{% trans %}Retourner au profil{% endtrans %}
                        </a>
                    </div>
                    <div class="col text-right">
                        <button
                            id="edit-people-submit-button"
                            type="submit"
                            form="form-people"
                            class="btn btn-primary">
                            {% trans %}Enregistrer les modifications{% endtrans %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
