{% extends 'Home/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/User/list.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Annuaire global
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Annuaire global</h1>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <table
            class="table table-striped"
            data-toggle="datatable"
            data-create-label="Enregistrer un·e nouvel·le personne dans l'annuaire"
            data-create-path="{{ path('people_create') }}"
            data-fixed-columns-right="3"
            >
            <thead>
                <tr>
                    <th data-sortable="true" data-exportable="true">Nom</th>
                    <th data-sortable="true" data-exportable="true">Prénom</th>
                    <th data-exportable="true">Mail</th>
                    <th data-exportable="true" class="text-center">Téléphone fixe</th>
                    <th data-exportable="true" class="text-center">Téléphone portable</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for people in peoples %}
                    <tr>
                        <td class="align-middle">{{ people.lastname }}</td>
                        <td class="align-middle">{{ people.firstname }}</td>
                        <td class="align-middle">{{ people.emailAddress }}</td>
                        <td class="align-middle text-center"><span class="phone">{{ people.homePhoneNumber }}</span></td>
                        <td class="align-middle text-center"><span class="phone">{{ people.cellPhoneNumber }}</span></td>
                        <td class="align-middle column-action">
                            <a
                                href="{{ path('people_show', { 'id': people.id }) }}"
                                class="btn btn-secondary"
                                data-toggle="tooltip"
                                title="Voir le profil"
                                >
                                <i class="icon ion-md-eye"></i>
                            </a>
                        </td>
                        <td class="align-middle column-action">
                            <a
                                href="{{ path('people_edit', { 'id': people.id }) }}"
                                class="btn btn-secondary"
                                data-toggle="tooltip"
                                title="Éditer le profil"
                                >
                                <i class="icon ion-md-create"></i>
                            </a>
                        </td>
                        <td class="align-middle column-action" data-toggle="modal" data-target="#confirmation-modal-deletion-people-{{ people.id }}">
                            <a
                                class="btn btn-secondary"
                                data-toggle="tooltip"
                                title="Supprimer le profil"
                                >
                                <i class="icon ion-md-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

    {# Creation of the confirmation modals, one per people #}
    {% for people in peoples %}
        {% set delete_people_form = people_deletion_forms[people.id] %}
        <div id="confirmation-modal-deletion-people-{{ people.id }}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>
                            Souhaitez-vous réellement supprimer les données de <strong>{{ people.firstName }} {{ people.lastName }}</strong>&nbsp;?
                        </p>
                        <div class="alert alert-warning" role="alert">
                            <i class="icon ion-md-alert"></i>&nbsp;Les données seront supprimées de manière définitive.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="icon ion-md-arrow-back"></i>&nbsp;Annuler</button>
                        </div>
                        <div class="col text-right">
                        {{ form_start(delete_people_form) }}
                        <button type="submit" class="btn btn-danger" id="delete_button"><i class="icon ion-md-trash" ></i>&nbsp;Supprimer </button>
                        {{ form_end(delete_people_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
