{% extends 'Home/base.html.twig' %}

{% block title %}Enregistrer une nouvelle personne dans l'annuaire{% endblock %}

{% block javascript %}
    <script src="{{ asset('javascript/User/new.js') }}"></script>
    <script src="{{ asset('javascript/People/phone.js') }}"></script>
    <script src="{{ asset('javascript/library/jQuery-Mask-1.14/jquery.mask.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/User/new.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('people_list') }}">Annuaire généraliste</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Enregistrer une nouvelle personne dans l'annuaire
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col text-left">
                        <h1>Enregistrer une nouvelle personne dans l'annuaire</h1>
                    </div>
                </div>

                {{ include('People/partials/people_information_form.html.twig', { people_form: form }) }}

                <div class="row">
                    <div class="col">
                        <a href="{{ path('people_list') }}" class="btn btn-secondary">
                            <i class="icon ion-md-arrow-back"></i>&nbsp;Retourner à l'annuaire généraliste
                        </a>
                    </div>
                    <div class="col text-right">
                        <button
                        id="create-people-submit-button"
                        type="submit" form="form-people"
                        class="btn btn-primary">
                            <i class="icon ion-md-add"></i>&nbsp;Créer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
