{% extends 'Home/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/User/show.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    {% if is_granted("ROLE_GESTION") %}
    <li class="breadcrumb-item">
        <a href="{{ path('people_list') }}">Annuaire global</a>
    </li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">
        {% if people.user != NULL and app.user.username == people.user.username %}
            <a href="{{ path('people_show', { 'id': people.id }) }}">Mon profil</a>
        {% else %}
            <a href="{{ path('people_show', { 'id': people.id }) }}">Profil de {{ people.firstName }} {{ people.lastName }}</a>
        {% endif %}
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Liste des adhésions de l'utilisateurice
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">

            <div class="col-8 col-md-2">
                <ul class="list-group">
                  <a href="{{ path('people_show', { 'id': people.id }) }}" class="list-group-item list-group-item-action">Profil</a>
                  <a href="{{ path('people_memberships_show', { 'id': people.id }) }}" class="active list-group-item list-group-item-action ">Adhésions</a>
                  <a href="#" class="list-group-item list-group-item-action disabled" data-toggle="tooltip" title="Work in progress">Dons</a>
                  <a href="{{ path('people_edit', { 'id': people.id }) }}" class="list-group-item list-group-item-action">Édition</a>
                </ul>
            </div>

            {{ include('Member/_user-s-memberships-list.html.twig') }}
    </div>
{% endblock %}
