{% extends 'Home/base.html.twig' %}

{% block title %}{% trans %}Reçus fiscaux{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('home') }}">{% trans %}Accueil{% endtrans %}</a>
    </li>
    <li class="breadcrumb-item">
        {% trans %}Reçus fiscaux{% endtrans %}
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% trans %}Générer entre deux dates{% endtrans %}
    </li>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Dashboard/home.css') }}">
{% endblock %}

{% block javascript %}
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-2">
                {{ include('Receipt/_menu-receipts.html.twig', { generate_from_two_dates : 'active' }) }}
            </div>
            <div class="col-10">
                <h1>{% trans %}Générer entre deux dates{% endtrans %}</h1>

                {{ form_start(from_two_dates_form, {'attr': {'id': 'from-two-dates-form'}}) }}
                <div class="form-group">
                    {{ form_label(from_two_dates_form.from)}} *
                    {{ form_widget(from_two_dates_form.from)}}
                </div>
                <div class="form-group">
                    {{ form_label(from_two_dates_form.to)}} *
                    {{ form_widget(from_two_dates_form.to)}}
                </div>
                {{ form_end(from_two_dates_form) }}
                <button
                    id="from-two-dates-submit-button"
                    type="submit"
                    form="from-two-dates-form"
                    class="btn btn-primary"
                    data-first-generation-label="{% trans %}Générer{% endtrans %}"
                    data-regeneration-label="{% trans %}Regénérer{% endtrans %}"
                    >
                    {% trans %}Générer{% endtrans %}
                </button>
            </div>
        </div>
    </div>
    <br>
{% endblock %}