{% extends 'Home/base.html.twig' %}

{% block title %}{% trans %}Reçus fiscaux{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('home') }}">{% trans %}Accueil{% endtrans %}</a>
    </li>
    <li class="breadcrumb-item">
        {% trans %}Reçus fiscaux{% endtrans %}
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% trans %}Générer selon l'année fiscale{% endtrans %}
    </li>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Dashboard/home.css') }}">
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-2">
                {{ include('Receipt/_menu-receipts.html.twig', { generate_from_fiscal_year : 'active' }) }}
            </div>
            <div class="col-10">
                <h1>{% trans %}Générer selon l'année fiscale{% endtrans %}</h1>

                {{ form_start(from_fiscal_year_form, {'attr': {'id': 'from-fiscal-year-form'}}) }}
                {{ form_end(from_fiscal_year_form) }}
                <button id="from-fiscal-year-submit-button" type="submit" form="from-fiscal-year-form" class="btn btn-primary">
                    {% trans %}Générer{% endtrans %}
                </button>
            </div>
        </div>
    </div>
    <br>
{% endblock %}