{% extends '@App/Home/base.html.twig' %}

{% block javascript %}
    <script src="{{ asset('javascript/User/new.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/User/new.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('user_list') }}">Liste des utilisateurices</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Enregistrer un.e nouvel.le utilisateurice
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Enregistrer un.e nouvel.le utilisateurice</h1>
            </div>
            <div class="col text-right">
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        {{ form_start(form, {'attr': {'id': 'form-create-member'}}) }}
            <div class="form-group">
            </div>
        {{ form_end(form) }}
    </div>
    <br>

{% endblock %}
