{% extends '@App/Home/base.html.twig' %}

{% block javascript %}
    <script src="{{ asset('javascript/User/new.js') }}"></script>
    <script src="{{ asset('javascript/Member/phone.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/User/new.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('member_list') }}">Liste des adhérent.es</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Enregistrer une nouvelle personne dans l'annuaire
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Enregistrer une nouvelle personne dans l'annuaire</h1>
            </div>
            <div class="col text-right">
            </div>
        </div>
    </div>

    <div class="container">
        {{ form_start(form, {'attr': {'id': 'form-create-member'}}) }}
            <div class="form-group">
                {{ form_label(form.denomination)}}
                {{ form_widget(form.denomination)}}
            </div>

            <div class="form-group">
                {{ form_label(form.firstname)}}
                {{ form_widget(form.firstname)}}
            </div>

            <div class="form-group">
                {{ form_label(form.lastname)}}
                {{ form_widget(form.lastname)}}
            </div>


            {% for address in form.addresses.vars.prototype %}
            <div class="form-group">
                {{ form_label(address) }}
                {{ form_widget(address) }}
            </div>
            {% endfor %}


            <div class="form-group">
                {{ form_label(form.emailAddress)}}
                {{ form_widget(form.emailAddress)}}
            </div>

            <div class="form-group">
                {{ form_label(form.isReceivingNewsletter)}}
                {{ form_widget(form.isReceivingNewsletter)}}
                {{ form_label(form.newsletterDematerialization)}}
                {{ form_widget(form.newsletterDematerialization)}}
            </div>
        {{ form_end(form) }}
    </div>
    <br>

{% endblock %}
