{% extends '@App/Home/base.html.twig' %}

{% block javascript %}
    <script src="{{ asset('javascript/User/edit.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/User/edit.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('profile_show', { 'id': user.id }) }}">
            Mon profil
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Éditer mon profil
    </li>
{% endblock %}

{% block body %}
<br>
<div class="container">
    <div class="row">

    <div class="col-8 col-md-2">
        <ul class="list-group">
          <a href="{{ path('profile_show', { 'id': user.id }) }}" class="list-group-item list-group-item-action">Profil</a>
        </ul>

        <br>
        <h4>Édition</h4>

        <ul class="list-group">
          {% if member.firstname is not empty %}
          <a href="{{ path('profile_editpersonal', { 'id': user.id }) }}" class="list-group-item list-group-item-action">Informations personnelles</a>
          <a href="{{ path('profile_editcontact', { 'id': user.id }) }}" class="list-group-item list-group-item-action">Informations de contact</a>
          {% endif %}
          <a href="{{ path('profile_editsensible', { 'id': user.id }) }}" class="list-group-item list-group-item-action active">Informations sensibles</a>
          <a href="{{ path('profile_editroles', { 'id': user.id }) }}" class="list-group-item list-group-item-action">Rôles</a>
        </ul>
    </div>



        <div class="col-12 col-md-10">

        <div class="col">
            <h1>
            Édition des informations sensibles
            </h1>
        </div>

        <div style="margin-top:24px;">
        {{ form_start(editsensible_form, {'attr': {'id': 'form-edit-user'}}) }}
            <div class="form-group">
                {{ form_label(editsensible_form.username) }}
                {{ form_widget(editsensible_form.username) }}
            </div>
            <div class="form-group">
            {{ form_widget(editsensible_form.submit) }}
            </div>
        {{ form_end(editsensible_form, {'render_rest': false}) }}
        </div>

        <div style="margin-top:48px;">
        <h2>Mot de passe</h2>
        {{ form_start(password_form)}}
        {{ form_errors(password_form) }}
        <div class="form-group">
            {{ form_widget(password_form) }}
        </div>
        {{ form_end(password_form) }}
        </div>

        </div>
    </div>
</div>

{% endblock %}
