{% extends '@App/Home/base.html.twig' %}

{% set profileLabel = app.user.username == user.username ? "mon profil" : "l'utilisateurice" %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('user_list') }}">Liste des utilisateurices</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('user_show', { 'id': user.id }) }}">
            {% if app.user.username == user.username %}
                Mon profil
            {% else %}
                Profil de {{ user.username }}
            {% endif %}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% if app.user.username == user.username %}
            Éditer mon profil
        {% else %}
            Éditer le profil de {{ user.username }}
        {% endif %}
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Édition de {{ profileLabel }}</h1>
            </div>
            <div class="col text-right">
                <button data-toggle="modal" data-target="#confirmation-modal" class="btn btn-danger"><i class="icon ion-md-trash"></i>&nbsp;Supprimer {{ profileLabel }}</button>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        {{ form_start(edit_form, {'attr': {'id': 'form-edit-user'}}) }}
            <div class="form-group">
                {{ form_label(edit_form.username) }}
                {{ form_widget(edit_form.username) }}
            </div>
            <div class="form-group">
                {{ form_widget(edit_form.plainPassword) }}
            </div>

            <div class="form-group">
                {{ form_label(edit_form.responsabilities) }}
                {% for responsability in edit_form.responsabilities %}
                    <div class="form-group">
                        {{ form_widget(responsability) }}
                        {{ form_label(responsability) }}
                        <span class="text-muted">
                            {{ responsability.vars.attr['data-responsability-description'] }}
                        </span>
                    </div>
                {% endfor %}
            </div>
            {{ form_widget(edit_form) }}
        {{ form_end(edit_form) }}
    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{{ path('user_list') }}" class="btn btn-secondary"><i class="icon ion-md-arrow-back"></i>&nbsp;Retourner à la liste des utilisateurices</a>
            </div>
            <div class="col text-right">
                <button type="submit" form="form-edit-user" class="btn btn-primary"><i class="icon ion-md-save"></i>&nbsp;Enregistrer les modifications</button>
            </div>
        </div>
    </div>
    <div id="confirmation-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Souhaitez-vous réellement supprimer ce profil ?</p>
                    <div class="alert alert-danger" role="alert">
                        <i class="icon ion-md-alert"></i>&nbsp;Les données seront supprimées de manière définitive.
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="icon ion-md-arrow-back"></i>&nbsp;Annuler</button>
                    </div>
                    <div class="col text-right">
                        {{ form_start(delete_form) }}
                        <button type="submit" class="btn btn-danger"><i class="icon ion-md-trash"></i>&nbsp;Supprimer {{ profileLabel }}</button>
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
