{% extends '@App/Home/base.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Liste des utilisateurices
    </li>
{% endblock %}

{% block body %}


    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Liste des utilisateurices</h1>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <table
            class="table table-striped"
            data-toggle="datatable"
            data-create-label="Enregistrer un.e nouvel.le utilisateurice"
            data-create-path="{{ path('user_create') }}"
            data-fixed-columns-right="3"
            >
            <thead>
                <tr>
                    <th data-sortable="true" data-exportable="true">Identifiant</th>
                    <th data-sortable="true" data-exportable="true">Nom d'utilisateurice</th>
                    <th data-sortable="true" data-exportable="true">Rôles</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% set delete_user_form = "" %}
                {% for user in users %}
                    <tr>
                        <td class="align-middle"><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                        <td class="align-middle">{{ user.username }}</td>
                        <td class="align-middle">
                            {{ user.roles is empty ? '-' : '' }}
                            {% for responsibility in user.responsibilities %}
                                <p>
                                    <span
                                        class="badge badge-pill badge-secondary"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="{{ responsibility is not empty ? responsibility.description : "Ce compte n'a pas de rôle." }}"
                                        >
                                        {{ responsibility is not empty ? responsibility.label : '-' }}
                                    </span>
                                </p>
                            {% endfor %}
                        </td>
                        <td class="align-middle column-action">
                            <a
                                href="{{ path('user_show', { 'id': user.id }) }}"
                                class="btn btn-secondary"
                                data-toggle="tooltip"
                                title="Voir le profil"
                                >
                                <i class="icon ion-md-eye"></i>
                            </a>
                        </td>
                        <td class="align-middle column-action">
                            <a
                                href="{{ path('user_edit', { 'id': user.id }) }}"
                                class="btn btn-secondary"
                                data-toggle="tooltip"
                                title="Éditer le profil"
                                >
                                <i class="icon ion-md-create"></i>
                            </a>
                        </td>
                        <td class="align-middle column-action" data-toggle="modal" data-target="#confirmation-modal">
                            <a
                                class="btn btn-secondary"
                                data-toggle="tooltip"
                                title="Supprimer le profil"
                                >
                                <i class="icon ion-md-trash"></i>
                                {% set delete_user_form = user_deletion_forms[user.id] %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

    <div id="confirmation-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Souhaitez-vous réellement supprimer ce profil ?</p>
                    <div class="alert alert-warning" role="alert">
                        <i class="icon ion-md-alert"></i>&nbsp;Les données seront supprimées de manière définitive.
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="icon ion-md-arrow-back"></i>&nbsp;Annuler</button>
                    </div>
                    <div class="col text-right">
                    {{ form_start(delete_user_form) }}
                    <button type="submit" class="btn btn-danger" id="delete_button"><i class="icon ion-md-trash" ></i>&nbsp;Supprimer </button>
                    {{ form_end(delete_user_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
