{% extends '@App/Home/base.html.twig' %}

{% block javascript %}
    <script src="{{ asset('javascript/User/new.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/User/new.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    {% if from == 'list' %}
    <li class="breadcrumb-item">
        <a href="{{ path('user_list') }}">Liste des utilisateurices</a>
    </li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">
        Enregistrer un.e nouvel.le utilisateurice
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Enregistrer un.e nouvel.le utilisateurice</h1>
            </div>
            <div class="col text-right">
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        {{ form_start(form, {'attr': {'id': 'form-create-user'}}) }}
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.plainPassword) }}
            </div>

            <div class="form-group">
                {{ form_label(form.responsibilities) }}
                {% for responsibility in form.responsibilities %}
                    <div class="form-group">
                        {{ form_widget(responsibility) }}
                        {{ form_label(responsibility) }}
                        <span class="text-muted responsibility-description">
                            {{ responsibility.vars.attr['data-responsibility-description'] }}
                        </span>
                    </div>
                {% endfor %}
            </div>
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{{ path('user_list') }}" class="btn btn-secondary"><i class="icon ion-md-arrow-back"></i>&nbsp;Retourner à la liste des utilisateurices</a>
            </div>
            <div class="col text-right">
                <button type="submit" form="form-create-user" class="btn btn-primary"><i class="icon ion-md-add"></i>&nbsp;Créer</button>
            </div>
        </div>
    </div>
{% endblock %}
