{% extends '@App/Home/base.html.twig' %}

{% set profileLabel = app.user.username == user.username ? "mon profil" : "l'utilisateurice" %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('user_list') }}">Liste des utilisateurices</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% if app.user.username == user.username %}
            Mon profil
        {% else %}
            Profil de {{ user.username }}
        {% endif %}
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ user.username }}</h1>
            </div>
            <div class="col text-right">
                <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-primary">
                    <i class="icon ion-md-create"></i>&nbsp;Éditer {{ profileLabel }}
                </a>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>Identifiant</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Nom d'utilisateurice</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Rôles</th>
                    <td>
                        {{ user.roles is empty ? '-' : '' }}
                        {% for responsability in user.responsabilities %}
                            <p>
                                <span
                                    class="badge badge-pill badge-secondary"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="{{ responsability is not empty ? responsability.description : "Ce compte n'a pas de rôle." }}"
                                    >
                                    {{ responsability is not empty ? responsability.label : '-' }}
                                </span>
                            </p>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{{ path('user_list') }}" class="btn btn-secondary"><i class="icon ion-md-arrow-back"></i>&nbsp;Retourner à la liste des utilisateurices</a>
            </div>
            <div class="col text-right">
                <button data-toggle="modal" data-target="#confirmation-modal" class="btn btn-danger"><i class="icon ion-md-trash"></i>&nbsp;Supprimer {{ profileLabel }}</button>
            </div>
        </div>
    </div>

    <div id="confirmation-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Souhaitez-vous réellement supprimer ce profil ?</p>
                    <div class="alert alert-danger" role="alert">
                        <i class="icon ion-md-alert"></i>&nbsp;Les données seront supprimées de manière définitive.
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="icon ion-md-arrow-back"></i>&nbsp;Annuler</button>
                    </div>
                    <div class="col text-right">
                        {{ form_start(delete_form) }}
                        <button type="submit" class="btn btn-danger"><i class="icon ion-md-trash"></i>&nbsp;Supprimer {{ profileLabel }}</button>
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
