{% extends 'Home/base.html.twig' %}

{% block title %}
	{% trans %}Étiquettes (70x35mm){% endtrans %}
{% endblock %}

{% block stylesheets %}
	{# <link rel="stylesheet" href="{{ asset('css/Tag/index.css') }}"> #}
	<link rel="stylesheet" href="{{ asset('css/PDF/tag.css') }}">
{% endblock %}

{% block javascript %}
    {{ encore_entry_script_tags('tag_index') }}
{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="/">{% trans %}Accueil{% endtrans %}</a>
	</li>
	<li class="breadcrumb-item active">
		{% trans %}Étiquettes (70x35mm){% endtrans %}
	</li>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row mt-3">
			<div class="col-2">
				<div class="card mb-3">
					<div class="card-header">
						Filtres
					</div>
					<div class="card-body pb-0">
						{{ form_start(generate_tag_form, {'attr': {'id': 'generate-tag-form'}}) }}
							{{ form_row(generate_tag_form.year, {'attr': {'class': 'custom-select'}}) }}
							{{ form_row(generate_tag_form.departments) }}
						{{ form_end(generate_tag_form) }}
					</div>
				</div>

				<button
					id="generate-tag-button"
					class="btn btn-primary w-100 mb-3"
					data-tag-index-url="{{ url('tag_index') }}"
					data-tag-generate-url="{{ url('tag_generate') }}"
				>
					<div>
						<i class="icon ion-md-cog"></i>
						{% trans %}Générer les étiquettes{% endtrans %}
					</div>
				</button>
				{% if fileExists %}
					<a href="{{ path('download_tag_pdf') }}"
						class="btn btn-primary w-100"
						role="button"
					>
						<div>
							<i class="icon ion-md-download"></i>
							{% trans %}Télécharger le PDF{% endtrans %}
						</div>
					</a>
				{% else %}
					<div
						data-toggle="tooltip"
						title="Générez les étiquettes pour pouvoir télécharger le PDF"
					>
						<a href="{{ path('download_tag_pdf') }}"
							class="btn btn-primary w-100"
							role="button"
						>
							<div>
								<i class="icon ion-md-download"></i>
								{% trans %}Télécharger le PDF{% endtrans %}
							</div>
						</a>
					</div>
					{% if tagsAreGenerating %}
						<div id="check-generation-tag-pdf" class="d-none" data-url="{{ path('check_generation_tag_pdf') }}"></div>
						<div id="tag-generation-complete" class="d-none" data-url="{{ path('tag_generation_complete') }}"></div>
					{% endif %}
				{% endif %}
			</div>
			<div class="col">
				<div class="bg-light d-flex justify-content-center flex-wrap px-4 py-3">
					<h3 class="text-center pb-2 w-100">{% trans %}Aperçu de la génération{% endtrans %}</h3>
					<div class="d-inline-block bg-white">
						{% include 'PDF/Tag/_tag.html.twig' with {
							'people': people,
						} %}
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col">

			</div>
		</div>
	</div>
{% endblock %}
