{% extends 'Home/base.html.twig' %}

{% block title %}
    {% trans %}Éditer la banque{% endtrans %} {{ bank.name }}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">{% trans %}Accueil{% endtrans %}</a>
    </li>
    {% if is_granted("ROLE_ADMIN") %}
        <li class="breadcrumb-item">
            <a href="{{ path('administration_dashboard') }}">{% trans %}Administration{% endtrans %}</a>
        </li>
    {% endif %}
    {% if is_granted("ROLE_GESTION") %}
        <li class="breadcrumb-item">
            <a href="{{ path('bank_list') }}">{% trans %}Liste des banques{% endtrans %}</a>
        </li>
    {% endif %}
    <li class="breadcrumb-item">
        <a href="{{ path('bank_show', { 'id': bank.id }) }}">
            {{ bank.name }}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% trans %}Éditer la banque{% endtrans %} {{ bank.name }}
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-8 col-md-2">
                {{ include('Bank/_menu-bank.html.twig', { edit_bank: 'active' }) }}
            </div>
            <br>
            <div class="col-12 col-md-10">
                <div class="row">
                    <div class="col text-left">
                        <h1>{% trans %}Éditer la banque{% endtrans %} {{ bank.name }}</h1>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col">
                        <p> {% trans %}Les champs notés avec * sont requis.{% endtrans %} </p>
                        <div>
                            {{ form_start(form, {'attr': {'id': 'form-edit-bank'}}) }}
                                <div class="form-group">
                                    {{ form_label(form.name) }} *
                                    {{ form_widget(form.name) }}
                                </div>
                                {{ form_widget(form._token) }}
                            {{ form_end(form, {'render_rest': false}) }}
                        </div>
                        <div class="col text-right">
                            <button
                                id="edit-bank-submit-button"
                                type="submit"
                                form="form-edit-bank"
                                class="btn btn-primary"
                                >
                                {% trans %}Enregistrer les modifications{% endtrans %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
