{% extends 'Home/base.html.twig' %}

{% block title %}{% trans %}Liste des banques{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">{% trans %}Accueil{% endtrans %}</a>
    </li>
    {% if is_granted("ROLE_ADMIN") %}
    <li class="breadcrumb-item">
        <a href="{{ path('administration_dashboard') }}">{% trans %}Administration{% endtrans %}</a>
    </li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">
        {% trans %}Liste des banques{% endtrans %}
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{% trans %}Liste des banques{% endtrans %}</h1>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <table
            class="table table-striped"
            data-toggle="datatable"
            data-filter-bar="toggle"
            data-create-label="Enregistrer une nouvelle banque"
            data-create-path="{{ path('bank_new', {from: 'list'}) }}"
            data-fixed-columns-right="2"
            >
            <thead>
                <tr>
                    <th data-sortable="true" data-exportable="true">{% trans %}Identifiant{% endtrans %}</th>
                    <th data-sortable="true" data-exportable="true">{% trans %}Nom{% endtrans %}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% set delete_user_form = "" %}
                {% for bank in banks %}
                    <tr>
                        <td class="align-middle"><a href="{{ path('bank_show', { 'id': bank.id }) }}">{{ bank.id }}</a></td>
                        <td class="align-middle">{{ bank.name }}</td>
                        <td class="align-middle column-action">
                            <a
                                href="{{ path('bank_show', { 'id': bank.id }) }}"
                                class="btn btn-secondary"
                                data-toggle="tooltip"
                                title="{% trans %}Voir la banque{% endtrans %}"
                                >
                                <i class="ri-eye-fill"></i>
                            </a>
                        </td>
                        <td class="align-middle column-action">
                            <a
                                href="{{ path('bank_edit', { 'id': bank.id }) }}"
                                class="btn btn-secondary"
                                data-toggle="tooltip"
                                title="{% trans %}Éditer la banque{% endtrans %}"
                                >
                                <i class="ri-edit-2-fill"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}

{#<title>Bank index</title>

{% block body %}
    <h1>Bank index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bank in banks %}
            <tr>
                <td>{{ bank.id }}</td>
                <td>{{ bank.name }}</td>
                <td>
                    <a href="{{ path('bank_show', {'id': bank.id}) }}">show</a>
                    <a href="{{ path('bank_edit', {'id': bank.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bank_new') }}">Create new</a>
{% endblock %}#}
