{% extends 'Home/base.html.twig' %}

{% block title %}{% trans %}Administration{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        <a href="{{ path('home') }}">{% trans %}Accueil{% endtrans %}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% trans %}Administration{% endtrans %}
    </li>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Dashboard/home.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="flip-card" data-toggle="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="flip-card-icon">
                                <i class="icon ion-md-information-circle-outline"></i>
                            </div>
                            <h4>
                                {% trans %}Informations de l'association{% endtrans %}
                            </h4>
                            <p class="">
                                {% trans %}Les spécificités de l'association<br>(nom, logo, etc.){% endtrans %}
                            </p>
                        </div>
                        <div class="flip-card-back">
                            <div class="flip-card-item">
                                <a class="" href="{{ path('association_index') }}">
                                    {% trans %}Informations de l'association{% endtrans %}
                                </a>
                            </div>
                            <div class="flip-card-item">
                                <a class="btn btn-primary btn-block" href="{{ path('association_edit_name') }}">
                                    {% trans %}Modifier le nom{% endtrans %}
                                </a>
                            </div>
                            <div class="flip-card-item">
                                <a class="btn btn-primary btn-block" href="{{ path('association_upload_logo') }}">
                                    <i class="icon ion-md-image"></i>
                                    {% trans %}Téléverser le logo{% endtrans %}
                                </a>
                            </div>
                            <div class="flip-card-item">
                                <a class="btn btn-primary btn-block" href="{{ path('association_upload_treasurer_signature') }}">
                                    <i class="icon ion-md-finger-print"></i>
                                    {% trans %}Téléverser la signature du trésorier{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flip-card" data-toggle="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="flip-card-icon">
                                <i class="icon ion-md-people"></i>
                            </div>
                            <h4>
                                {% trans %}Gestion des utilisateurices{% endtrans %}
                            </h4>
                            <p class="">
                                {% trans %}Tout ce qui concerne les comptes pouvant se connecter à l'application.{% endtrans %}
                            </p>
                        </div>
                        <div class="flip-card-back">
                            <div class="flip-card-item">
                                <a class="" href="{{ path('user_list') }}">
                                    {% trans %}Liste des comptes{% endtrans %}
                                </a>
                            </div>
                            <div>
                                <a class="btn btn-primary btn-block" href="{{ path('user_create', {from: 'dashboard'}) }}">
                                    {% trans %}Enregistrer un nouveau compte{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="flip-card" data-toggle="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="flip-card-icon">
                                <ion-icon name="business-outline"></ion-icon>
                                <i class="icon ion-md-business"></i>
                            </div>
                            <h4>
                                {% trans %}Gestion des<br>banques{% endtrans %}
                            </h4>
                            <p class="">
                                {% trans %}Tout ce qui concerne les banques dont les paiements proviennent.{% endtrans %}
                            </p>
                        </div>
                        <div class="flip-card-back">
                            <div class="flip-card-item">
                                <a class="" href="{{ path('bank_list') }}">
                                    {% trans %}Liste des banques{% endtrans %}
                                </a>
                            </div>
                            <div>
                                <a class="btn btn-primary btn-block" href="{{ path('bank_new', {from: 'dashboard'}) }}">
                                    {% trans %}Enregistrer une nouvelle banque{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
