{% extends 'Home/base.html.twig' %}

{% block title %}
    {% trans %}Édition de l'adhésion{% endtrans %}
{% endblock %}

{% block javascript %}
    <!-- Custom JS for this page -->
    <script src="{{ asset('javascript/Membership/common.js') }}"></script>
    <script src="{{ asset('javascript/Membership/edit.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <!-- Custom CSS for this page -->
    <link rel="stylesheet" href="{{ asset('css/Membership/common.css') }}">
{% endblock %}


{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">{% trans %}Accueil{% endtrans %}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('membership_list') }}">{% trans %}Adhésions{% endtrans %}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% trans %}Édition de l'adhésion{% endtrans %}
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-8 col-md-2">
                {{ include('Membership/_menu_membership.html.twig', { edit_membership: 'active' }) }}
            </div>
            <div class="col-12 col-md-10">
                <h1 class="pl-3 pr-3">
                    {% if membership.dateStart and membership.dateEnd %}
                        {% trans %}Édition de l'adhésion du{% endtrans %} {{ membership.getDateStart | date('d M. Y') }}
                        {% trans %}au{% endtrans %} {{ membership.getDateEnd | date('d M. Y') }}
                    {% else %}
                        {% trans %}Cette adhésion n'est pas définie dans le temps{% endtrans %}
                    {% endif %}
                </h1>
                {{ form_start(membership_edit_form, {'attr': {'id': 'membership-edit-form'}}) }}
                <div class="container mt-4">
                    <div class="row">
                        <div class="col">
                            {{ form_row(membership_edit_form.membershipType)}}
                        </div>
                    </div>
                </div>
                <div id="member-selection-part">
                    <div id="people-selector-container" class="container">
                        <div class="row">
                            <div class="col">
                                {{ form_label(membership_edit_form.newMember) }}
                                {{ form_widget(membership_edit_form.newMember) }}
                                {{ form_help(membership_edit_form.newMember) }}
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div id="people-recaps" class="row">
                            {{ include('Membership/_people-placeholder.html.twig') }}
                        </div>
                    </div>
                </div>
                <div class="d-none">
                    {{ form_row(membership_edit_form.members)}}
                </div>
                <div id="payment-part">
                    <div class="container mt-3">
                        <div class="row justify-content-between">
                            <div class="col">
                                <p>{% trans %}Les champs notés avec * sont requis.{% endtrans %}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col">
                                <div class="p-3 bg-light">
                                    <div class="row">
                                        <div id="membership-date-start-group" class="form-group col h-100">
                                            {{ form_label(membership_edit_form.membershipDate_start)}} *
                                            {{ form_errors(membership_edit_form.membershipDate_start)}}
                                            {{ form_widget(membership_edit_form.membershipDate_start)}}
                                            {{ form_help(membership_edit_form.membershipDate_start)}}
                                        </div>
                                        <div id="membership-date-end-group" class="form-group col h-100">
                                            {{ form_label(membership_edit_form.membershipDate_end)}} *
                                            {{ form_errors(membership_edit_form.membershipDate_end)}}
                                            {{ form_widget(membership_edit_form.membershipDate_end)}}
                                            {{ form_help(membership_edit_form.membershipDate_end)}}
                                        </div>
                                        <div id="membership-fiscal-year-group" class="form-group col h-100">
                                            {{ form_label(membership_edit_form.membershipFiscal_year)}} *
                                            {{ form_errors(membership_edit_form.membershipFiscal_year)}}
                                            {{ form_widget(membership_edit_form.membershipFiscal_year)}}
                                            {{ form_help(membership_edit_form.membershipFiscal_year)}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col">
                                <div class="p-3 bg-light">
                                    <div class="row">
                                        <div id="payment-type-group" class="form-group col-12 h-100">
                                            {{ form_label(membership_edit_form.paymentType)}} *
                                            {{ form_errors(membership_edit_form.paymentType)}}
                                            {{ form_widget(membership_edit_form.paymentType)}}
                                            {{ form_help(membership_edit_form.paymentType)}}
                                        </div>
                                        <div class="form-group col h-100 check-information">
                                            {{ form_label(membership_edit_form.bank)}} *
                                            {{ form_errors(membership_edit_form.bank)}}
                                            {{ form_widget(membership_edit_form.bank)}}
                                            {{ form_help(membership_edit_form.bank)}}
                                        </div>
                                        <div class="form-group col h-100 check-information">
                                            {{ form_label(membership_edit_form.check_number)}} *
                                            {{ form_errors(membership_edit_form.check_number)}}
                                            {{ form_widget(membership_edit_form.check_number)}}
                                            {{ form_help(membership_edit_form.check_number)}}
                                        </div>
                                        <div class="form-group col h-100 check-information">
                                            <label for="check-date" class="required">Le</label> *
                                            <input
                                                type="date"
                                                id="check-date"
                                                name="check-date"
                                                required="required"
                                                autocomplete="off"
                                                class="form-control">
                                        </div>
                                        <div class="form-group col-12 h-100 check-information">
                                            <label for="check-issuer" class="required">Signataire</label> *
                                            <select id="check-issuer" name="check-issuer" autocomplete="off" class="form-control">
                                                <option value="" disabled selected>Choisissez une personne</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col">
                                <div class="p-3 bg-light">
                                    <div class="row">
                                        <div id="payment-amount-group" class="form-group col h-100">
                                            {{ form_label(membership_edit_form.paymentAmount)}} *
                                            {{ form_widget(membership_edit_form.paymentAmount)}}
                                            {{ form_errors(membership_edit_form.paymentAmount)}}
                                            {{ form_help(membership_edit_form.paymentAmount)}}
                                        </div>
                                        <div id="payer-group" class="form-group col h-100">
                                            {{ form_label(membership_edit_form.payer)}} *
                                            {{ form_errors(membership_edit_form.payer)}}
                                            {{ form_widget(membership_edit_form.payer)}}
                                            {{ form_help(membership_edit_form.payer)}}
                                        </div>
                                        <div id="payment-date-received-group" class="form-group col h-100">
                                            {{ form_label(membership_edit_form.paymentDate_received)}} *
                                            {{ form_errors(membership_edit_form.paymentDate_received)}}
                                            {{ form_widget(membership_edit_form.paymentDate_received)}}
                                            {{ form_help(membership_edit_form.paymentDate_received)}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col">
                                <div class="p-3 bg-light">
                                    <div class="row">
                                        <div id="membership-amount-group" class="form-group col h-100">
                                            {{ form_label(membership_edit_form.membershipAmount)}} *
                                            {{ form_errors(membership_edit_form.membershipAmount)}}
                                            {{ form_widget(membership_edit_form.membershipAmount)}}
                                            {{ form_help(membership_edit_form.membershipAmount)}}
                                        </div>
                                        <div id="donation-amount-group" class="form-group col h-100">
                                            {{ form_label(membership_edit_form.donationAmount)}}
                                            {{ form_errors(membership_edit_form.donationAmount)}}
                                            {{ form_widget(membership_edit_form.donationAmount)}}
                                            {{ form_help(membership_edit_form.donationAmount)}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col">
                                <div class="p-3 bg-light">
                                    <div class="row">
                                        <div class="form-group col h-100">
                                            {{ form_label(membership_edit_form.paymentDate_cashed)}}
                                            {{ form_errors(membership_edit_form.paymentDate_cashed)}}
                                            {{ form_widget(membership_edit_form.paymentDate_cashed)}}
                                            {{ form_help(membership_edit_form.paymentDate_cashed)}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container mt-3">
                        <div class="row">
                            <div class="col">
                                {{ form_row(membership_edit_form.membershipComment)}}
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(membership_edit_form) }}

                <div class="container mt-3">
                    <div class="row">
                        <div class="col">
                            <a href="{{ path('membership_list') }}" class="btn btn-secondary">
                                <i class="icon ion-md-arrow-back"></i>&nbsp;{% trans %}Retourner à la liste des adhésions{% endtrans %}
                            </a>
                        </div>
                        <div class="col text-right">
                            <button id="member-creation-submit-button"
                                    class="btn btn-primary d-none"
                                    type="submit" form="membership-edit-form">
                                {% trans %}Enregistrer les modifications{% endtrans %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
