{% extends 'Home/base.html.twig' %}

{% block title %}{% trans %}Liste des adhésions actives{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% trans %}Liste des adhésions actives{% endtrans %}
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{% trans %}Liste des adhésions actives{% endtrans %}</h1>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <table
            class="table table-striped"
            data-toggle="datatable"
            data-ordered-column-index="1"
            data-filter-bar="toggle"
            data-copy-button="toggle"
            data-csv-button="toggle"
            data-pdf-button="toggle"
            >
            <thead>
                <tr>
                    <th data-sortable="true" data-exportable="true">{% trans %}Nom{% endtrans %}</th>
                    <th data-sortable="true" data-exportable="true">{% trans %}Prénom{% endtrans %}</th>
                    <th class="text-center" data-sortable="true" data-exportable="true">{% trans %}Numéro d'ordre{% endtrans %}</th>
                    <th data-exportable="true" class="text-center">{% trans %}Dates de la dernière adhésion{% endtrans %}</th>
                    <th data-sortable="true" data-exportable="true" class="text-center">{% trans %}Type d'adhésion{% endtrans %}</th>
                    <th data-sortable="true" data-exportable="true" class="text-center">{% trans %}Montant{% endtrans %}</th>
                    <th data-sortable="true" data-exportable="true" class="text-center">{% trans %}Payée via...{% endtrans %}</th>
                    <th data-sortable="true" data-exportable="true" class="text-center">{% trans %}Encaissée le...{% endtrans %}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="d-none">
                {% for member in members %}
                    <tr>
                        <td class="align-middle text-uppercase">{{ member.lastname }}</td>
                        <td class="align-middle">{{ member.firstname }}</td>
                        <td class="align-middle text-center">{{ member.getActiveMembership.payment.receipt.orderCode }}</td>
                        <td class="align-middle text-center">
                            {% trans %}Du{% endtrans %} {{ member.getActiveMembership.getDateStart | date('d M. Y') }}
                            <br>
                            {% trans %}au{% endtrans %} {{ member.getActiveMembership.getDateEnd | date('d M. Y') }}
                        </td>
                        <td class="align-middle text-center">
                            {{ member.getActiveMembership.type.label }}
                        </td>
                        <td class="align-middle text-center">
                            {{ member.getActiveMembership.type.defaultAmount }}&nbsp;€
                        </td>
                        <td class="align-middle text-center">
                            {{ member.getActiveMembership.payment.type.label }}
                        </td>
                        <td class="align-middle text-center" data-sort="{{ member.getActiveMembership.payment.dateCashed | date('Ymd') }}">
                            {% if member.getActiveMembership.payment.dateCashed is null %}
                                <span class=""><i class="icon ion-md-warning"></i> {% trans %}Pas encore encaissé{% endtrans %}</span>
                            {% else %}
                                {{ member.getActiveMembership.payment.dateCashed | date('d M. Y') }}
                            {% endif %}
                        </td>
                        <td class="align-middle column-action">
                            <a
                                href="{{ path('membership_show', { 'id': member.getActiveMembership.id }) }}"
                                class="btn btn-secondary"
                                data-toggle="tooltip"
                                title="{% trans %}Voir les détails de l'adhésion{% endtrans %}"
                                >
                                <i class="icon ion-md-eye"></i>
                            </a>
                        </td>
                        <td class="align-middle column-action">
                            <a
                                href="{{ path('membership_edit', { 'id': member.getActiveMembership.id }) }}"
                                class="btn btn-secondary"
                                data-toggle="tooltip"
                                title="{% trans %}Éditer l'adhésion{% endtrans %}"
                                >
                                <i class="icon ion-md-create"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}
