{% extends 'Home/base.html.twig' %}

{% block title %}Création d'une adhésion{% endblock %}

{% block javascript %}
    <script src="{{ asset('javascript/Membership/new.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">{% trans %}Accueil{% endtrans %}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('membership_list') }}">{% trans %}Adhésions{% endtrans %}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Nouvelle adhésion
    </li>
{% endblock %}

{% block body %}
    <div id="people-selector-container" class="container mt-4">
        <div class="border p-3">
            <div class="row">
                <div class="col-12">
                    <label for="donation_donator">Ajouter une personne à la nouvelle adhésion</label>
                </div>
                <div class="col-12">
                    {{ form_widget(membership_creation_form.newMember) }}
                    {{ form_errors(membership_creation_form.newMember) }}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="people-recaps" class="row">
        </div>
    </div>
    {{ form_start(membership_creation_form, {'attr': {'id': 'member-creation-form'}} ) }}
        <div class="d-none">
            {{ form_row(membership_creation_form.members)}}
        </div>
        <div class="container mt-3">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <div class="border p-3 h-100">
                        <div class="form-group">
                            {{ form_row(membership_creation_form.membershipType)}}
                        </div>
                        <div class="form-group">
                            {{ form_row(membership_creation_form.membershipDate_start)}}
                        </div>
                        <div class="form-group">
                            {{ form_row(membership_creation_form.membershipDate_end)}}
                        </div>
                        <div class="form-group">
                            {{ form_row(membership_creation_form.membershipComment)}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="border p-3 h-100">
                        <div class="form-group">
                            {{ form_row(membership_creation_form.paymentType)}}
                        </div>
                        <div class="form-group">
                            {{ form_row(membership_creation_form.membershipAmount)}}
                        </div>
                        <div class="form-group">
                            <button
                                id="add-donation-btn"
                                class="btn btn-lg btn-block btn-secondary"
                                type="button"
                            >
                                Ajouter un don
                            </button>
                        </div>
                        <div id="donation-amount-group" class="form-group d-none">
                            {{ form_row(membership_creation_form.donationAmount)}}
                        </div>
                        <div id="payment-amount-group" class="form-group d-none">
                            {{ form_row(membership_creation_form.paymentAmount)}}
                        </div>
                        <div class="form-group">
                            {{ form_row(membership_creation_form.payer)}}
                        </div>
                        <div class="form-group">
                            {{ form_row(membership_creation_form.paymentDate_received)}}
                        </div>
                        <div class="form-group">
                            {{ form_row(membership_creation_form.paymentDate_cashed)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col">
                    <a href="{{ path('membership_list') }}" class="btn btn-secondary">
                        <i class="icon ion-md-arrow-back"></i>&nbsp;Retourner à la liste des adhésions
                    </a>
                </div>
                <div class="col text-right">
                    <button
                    id="member-creation-submit-button"
                    type="submit"
                    form="member-creation-form"
                    class="btn btn-primary">
                        Enregistrer l'adhésion
                    </button>
                </div>
            </div>
        </div>
    {{ form_end(membership_creation_form) }}
{% endblock %}