{% extends 'Home/base.html.twig' %}

{% block title %}
    {% trans %}Nouvelle adhésion{% endtrans %}
{% endblock %}

{% block javascript %}
    <!-- Custom JS for this page -->
    <script src="{{ asset('javascript/Membership/common.js') }}"></script>
    <script src="{{ asset('javascript/Membership/new.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <!-- Custom CSS for this page -->
    <link rel="stylesheet" href="{{ asset('css/Membership/common.css') }}">
{% endblock %}


{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">{% trans %}Accueil{% endtrans %}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('membership_list') }}">{% trans %}Adhésions{% endtrans %}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% trans %}Nouvelle adhésion{% endtrans %}
    </li>
{% endblock %}

{% block body %}
    {{ form_start(membership_creation_form, {'attr': {'id': 'membership-creation-form'}}
	) }}
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                {{ form_row(membership_creation_form.membershipType)}}
            </div>
        </div>
    </div>
    <div id="member-selection-part" class="d-none">
        <div id="people-selector-container" class="container">
            <div class="row">
                <div class="col">
                    {{ form_label(membership_creation_form.newMember) }}
                    {{ form_widget(membership_creation_form.newMember) }}
                    {{ form_help(membership_creation_form.newMember) }}
                </div>
            </div>
        </div>
        <div class="container">
            <div id="people-recaps" class="row">
                {{ include('Membership/_people-placeholder.html.twig') }}
            </div>
        </div>
    </div>
    <div class="d-none">
        {{ form_row(membership_creation_form.members)}}
    </div>
    <div id="payment-part" class="d-none">
        <div class="container mt-3">
            <div class="row justify-content-between">
                <div class="col">
                    <p>{% trans %}Les champs notés avec * sont requis.{% endtrans %}</p>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-md-4">
                    <div class="border p-3 h-100">
                        <div id="membership-date-start-group" class="form-group">
                            {{ form_label(membership_creation_form.membershipDate_start)}} *
                            {{ form_errors(membership_creation_form.membershipDate_start)}}
                            {{ form_widget(membership_creation_form.membershipDate_start)}}
                            {{ form_help(membership_creation_form.membershipDate_start)}}
                        </div>
                        <div id="membership-date-end-group" class="form-group">
                            {{ form_label(membership_creation_form.membershipDate_end)}} *
                            {{ form_errors(membership_creation_form.membershipDate_end)}}
                            {{ form_widget(membership_creation_form.membershipDate_end)}}
                            {{ form_help(membership_creation_form.membershipDate_end)}}
                        </div>
                        <div id="membership-fiscal-year-group" class="form-group">
                            {{ form_label(membership_creation_form.membershipFiscal_year)}} *
                            {{ form_errors(membership_creation_form.membershipFiscal_year)}}
                            {{ form_widget(membership_creation_form.membershipFiscal_year)}}
                            {{ form_help(membership_creation_form.membershipFiscal_year)}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="border p-3 h-100">
                        <div id="payment-amount-group" class="form-group">
                            {{ form_label(membership_creation_form.paymentAmount)}} *
                            {{ form_widget(membership_creation_form.paymentAmount)}}
                            {{ form_errors(membership_creation_form.paymentAmount)}}
                            {{ form_help(membership_creation_form.paymentAmount)}}
                        </div>
                        <div id="payer-group" class="form-group">
                            {{ form_label(membership_creation_form.payer)}} *
                            {{ form_errors(membership_creation_form.payer)}}
                            {{ form_widget(membership_creation_form.payer)}}
                            {{ form_help(membership_creation_form.payer)}}
                        </div>
                        <div id="payment-type-group" class="form-group">
                            {{ form_label(membership_creation_form.paymentType)}} *
                            {{ form_errors(membership_creation_form.paymentType)}}
                            {{ form_widget(membership_creation_form.paymentType)}}
                            {{ form_help(membership_creation_form.paymentType)}}
                        </div>
                        <div id="payment-bank" class="form-group">
                            {{ form_row(membership_creation_form.bank)}}
                        </div>
                        <div id="payment-date-received-group" class="form-group">
                            {{ form_label(membership_creation_form.paymentDate_received)}} *
                            {{ form_errors(membership_creation_form.paymentDate_received)}}
                            {{ form_widget(membership_creation_form.paymentDate_received)}}
                            {{ form_help(membership_creation_form.paymentDate_received)}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="border p-3 h-100">
                        <div id="membership-amount-group" class="form-group">
                            {{ form_label(membership_creation_form.membershipAmount)}}
                            {{ form_errors(membership_creation_form.membershipAmount)}}
                            {{ form_widget(membership_creation_form.membershipAmount)}}
                            {{ form_help(membership_creation_form.membershipAmount)}}
                        </div>
                        <div id="donation-amount-group" class="form-group">
                            {{ form_label(membership_creation_form.donationAmount)}}
                            {{ form_errors(membership_creation_form.donationAmount)}}
                            {{ form_widget(membership_creation_form.donationAmount)}}
                            {{ form_help(membership_creation_form.donationAmount)}}
                        </div>
                        {{ form_row(membership_creation_form.paymentDate_cashed)}}
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col">
                    {{ form_row(membership_creation_form.membershipComment)}}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(membership_creation_form) }}

    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <a href="{{ path('membership_list') }}" class="btn btn-secondary">
                    <i class="icon ion-md-arrow-back"></i>&nbsp;{% trans %}Retourner à la liste des adhésions{% endtrans %}
                </a>
            </div>
            <div class="col text-right">
                <button id="member-creation-submit-button" type="submit" form="membership-creation-form" class="btn btn-primary">
                    {% trans %}Enregistrer l'adhésion{% endtrans %}
                </button>
            </div>
        </div>
    </div>
{% endblock %}
