{% extends 'Home/base.html.twig' %}

{% set profileLabel = app.user.username == user.username ? "mon profil" : "l'utilisateurice" %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">{% trans %}Accueil{% endtrans %}</a>
    </li>
    {% if is_granted("ROLE_ADMIN") %}
    <li class="breadcrumb-item">
        <a href="{{ path('administration_dashboard') }}">{% trans %}Administration{% endtrans %}</a>
    </li>
    {% endif %}
    {% if is_granted("ROLE_GESTION") %}
    <li class="breadcrumb-item">
        <a href="{{ path('user_list') }}">{% trans %}Liste des utilisateurices{% endtrans %}</a>
    </li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">
        {% if app.user.username == user.username %}
            {% trans %}Mon profil{% endtrans %}
        {% else %}
            {% trans %}Profil de{% endtrans %} {{ user.username }}
        {% endif %}
    </li>
{% endblock %}

{% block body %}

    <br>
    <div class="container">
        <div class="row">
            <div class="col-8 col-md-2">
                {{ include('User/_menu-user.html.twig', { show_history: 'active' }) }}
            </div>
            <div class="col-12 col-md-10">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1>{{ user.username }}</h1>
                        </div>
                    </div>
                </div>
                <br>

                <div class="container">

                    <p>{% trans %}Work in progress{% endtrans %}</p>
                </div>
                <br>

            </div>
        </div>
    </div>

{% endblock %}
