{% extends 'Home/base.html.twig' %}

{% set profileLabel = app.user.username == user.username ? "mon profil" : "l'utilisateurice" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/User/show.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    {% if is_granted("ROLE_ADMIN") %}
    <li class="breadcrumb-item">
        <a href="{{ path('administration_dashboard') }}">Administration</a>
    </li>
    {% endif %}
    {% if is_granted("ROLE_GESTION") %}
    <li class="breadcrumb-item">
        <a href="{{ path('user_list') }}">Liste des utilisateurices</a>
    </li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">
        {% if app.user.username == user.username %}
            Mon profil
        {% else %}
            Profil de {{ user.username }}
        {% endif %}
    </li>
{% endblock %}



{% block body %}

    <br>
    <div class="container">
        <div class="row">
            <div class="col-8 col-md-2">
                <ul class="list-group">
                  <a href="{{ path('user_show', { 'id': user.id }) }}" class="list-group-item list-group-item-action active">Profil</a>
                  <a href="{{ path('user_history', { 'id': user.id }) }}" class="list-group-item list-group-item-action ">Historique</a>
                  <a href="{{ path('user_edit', { 'id': user.id }) }}" class="list-group-item list-group-item-action">Édition</a>
                </ul>
            </div>
            <div class="col-12 col-md-10">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1>{{ user.username }}</h1>
                            <p>Identifiant : {{ user.id }}</p>
                        </div>
                    </div>
                </div>
                <br>

                {{ user.roles ? '<div class="container styledtable">
                <br>

                    <h3>Rôles</h3>': '' }}
                    <br>
                    <table class="table table-hover">
                        <tbody>

                                    {% for responsibility in user.responsibilities %}
                                        <tr>
                                            <th>
                                                {{ responsibility is not empty ? responsibility.label : '-' }}
                                            </th>
                                            <td>
                                                {{ responsibility is not empty ? responsibility.description : "Ce compte n'a pas de rôle." }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                            </tr>
                        </tbody>
                    </table>

                </div>
                <br>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{{ path('user_list') }}" class="btn btn-secondary"><i class="icon ion-md-arrow-back"></i>&nbsp;Retourner à la liste des utilisateurices</a>
            </div>
        </div>
    </div>

{% endblock %}
